/* Code tidied up by ScrapBook */
button { padding: 0px; font: inherit; color: inherit; cursor: pointer; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: medium none; outline: medium none; -moz-appearance: none; }
body, button, p, pre { margin: 0px; }
h1, h2, h3 { margin: 0px; font: inherit; }
ol, ul { padding: 0px; margin: 0px; }
li { list-style-type: none; }
a { color: inherit; text-decoration: none; }
.CornerButtons, .UnknownError { display: flex; }
.CornerButtons { position: fixed; bottom: 0px; right: 12px; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s; will-change: transfrom; }
.Button { display: inline-block; padding: 0px 16px; font-size: 14px; line-height: 32px; text-align: center; cursor: pointer; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: 1px solid; border-radius: 3px; }
.Button, html[data-theme="dark"] .Button { color: rgb(133, 144, 166); }
.Button::-moz-focus-inner { padding: 0px; border: 0px none; }
.Button:focus { outline: medium none; transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s; }
.Button:disabled { cursor: default; opacity: 0.5; pointer-events: none; }
.Button--grey { color: rgb(133, 144, 166); border-color: rgb(133, 144, 166); }
.Button--grey:hover, html[data-theme="dark"] .Button--grey:hover { background-color: rgba(133, 144, 166, 0.06); }
.Button--blue { color: rgb(0, 102, 255); border-color: rgb(0, 102, 255); }
.Button--blue:hover { background-color: rgba(0, 102, 255, 0.06); }
.Button--primary.Button--blue { color: rgb(255, 255, 255); background-color: rgb(0, 102, 255); }
.Button--primary.Button--blue:hover { border-color: rgb(0, 92, 230); background-color: rgb(0, 92, 230); }
.Button--link, .Button--plain { height: auto; padding: 0px; line-height: inherit; background-color: transparent; border: medium none; border-radius: 0px; }
.Button--link:hover, .Button--plain:hover { background-color: transparent; }
.Button--plain:hover, html[data-theme="dark"] .Button--plain:hover { color: rgb(118, 131, 155); }
.Button--withIcon.Button--iconOnly { padding: 0px 4px; }
.Button--withIcon.Button--link, .Button--withIcon.Button--plain { padding: 0px; }
.Button--withIcon.Button--withLabel .Button-zi { margin-right: 4px; }
.CornerAnimayedFlex { width: 40px; height: 52px; transition: height 0.2s ease 0s; }
.CornerButton { display: flex; -moz-box-align: center; align-items: center; -moz-box-pack: center; justify-content: center; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 4px; width: 40px; height: 40px; color: rgb(133, 144, 166); box-shadow: 0px 1px 3px rgba(18, 18, 18, 0.1); }
.CornerButton:hover { background: rgb(211, 211, 211) none repeat scroll 0% 0%; }
@media (max-width: 690px) {
}
@media (max-width: 690px) {
}
@media (max-width: 690px) {
}
@media (max-width: 690px) {
}
@media (max-width: 768px) {
}
@media (min-width: 769px) {
}
@media (max-width: 768px) {
}
@keyframes spring-in {
0% { transform: translate(-50%, -20px); opacity: 0.01; }
100% { transform: translate(-50%); opacity: 1; }
}
@keyframes spring-in {
0% { transform: translate(-50%, -20px); opacity: 0.01; }
100% { transform: translate(-50%); opacity: 1; }
}
@keyframes spring-out {
0% { transform: translate(-50%); opacity: 1; }
100% { transform: translate(-50%, -20px); opacity: 0; }
}
@keyframes spring-out {
0% { transform: translate(-50%); opacity: 1; }
100% { transform: translate(-50%, -20px); opacity: 0; }
}
.Popover { position: relative; display: inline-block; }
.Input-wrapper { position: relative; display: flex; -moz-box-align: center; align-items: center; width: 180px; height: 34px; padding: 4px 10px; font-size: 14px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(235, 235, 235); border-radius: 3px; box-sizing: border-box; transition: background 0.2s ease 0s, border 0.2s ease 0s; }
.Input-wrapper.Input-wrapper--grey { background: rgb(246, 246, 246) none repeat scroll 0% 0%; }
.Input { -moz-box-flex: 1; flex: 1 1 0%; padding: 0px; overflow: hidden; font-family: inherit; font-size: inherit; font-weight: inherit; background: transparent none repeat scroll 0% 0%; border: medium none; resize: none; }
.Input:disabled { color: rgb(191, 191, 191); }
.Input:focus { outline: medium none; }
input.Input { color: rgb(18, 18, 18); height: 24px; line-height: 24px; }
.Input:not(input) { line-height: 24px; }
.Input::-moz-placeholder { color: rgb(133, 144, 166); }
.Input::placeholder { color: rgb(133, 144, 166); }
.Sticky.is-fixed { position: fixed; z-index: 2; }
.Sticky.is-absolute, .Sticky.is-fixed { box-sizing: border-box; }
.Sticky--holder { visibility: hidden; }
.LoadingBar { position: fixed; top: 0px; right: 0px; left: 0px; z-index: 101; display: none; height: 2px; pointer-events: none; background: rgb(0, 102, 255) none repeat scroll 0% 0%; transform: translateX(-100%); }
@keyframes LoadingBarForward {
0% { transform: translateX(-100%); }
40% { transform: translateX(0px); }
60% { transform: translateX(0px); }
100% { transform: translateX(100%); }
}
@keyframes LoadingBarForward {
0% { transform: translateX(-100%); }
40% { transform: translateX(0px); }
60% { transform: translateX(0px); }
100% { transform: translateX(100%); }
}
.Tabs { border-bottom: 1px solid rgb(246, 246, 246); }
.Tabs-item { display: inline-block; padding: 0px 20px; }
.Tabs-link { position: relative; display: inline-block; padding: 14px 0px; font-size: 16px; line-height: 22px; color: rgb(18, 18, 18); text-align: center; }
.Avatar { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 2px; }
.Avatar--large { border-radius: 4px; }
@media only screen and (min-device-width: 320px) {
}
.ztext { line-height: 1.6; }
.ztext > :first-child { margin-top: 0px; }
.ztext > :last-child { margin-bottom: 0px; }
.ztext b { font-weight: 600; font-synthesis: style; }
.ztext a:focus { outline: medium none; transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s; }
.ztext a.external, .ztext a.internal, .ztext a.ztext-link { text-decoration: none; cursor: pointer; border-bottom: 1px solid grey; }
.ztext a.external:hover, .ztext a.internal:hover, .ztext a.ztext-link:hover { color: rgb(23, 81, 153); border-bottom: 1px solid rgb(23, 81, 153); }
.ztext p { margin: 1.4em 0px; }
.ztext figure { margin: 1.4em 0px; }
.ztext figure .content_image, .ztext figure .origin_image { margin: 0px auto; }
.ztext .content_image, .ztext .origin_image { display: block; max-width: 100%; margin: 1.4em auto; }
.ztext .content_image.zh-lightbox-thumb, .ztext .origin_image.zh-lightbox-thumb { cursor: zoom-in; }
@keyframes Bounce {
0%, 100% { transform: translateY(-100%); }
50% { transform: translateY(100%); }
}
@keyframes Bounce {
0%, 100% { transform: translateY(-100%); }
50% { transform: translateY(100%); }
}
@keyframes linear-double {
0% { transform: translateX(-56%); }
100% { transform: translateX(56%); }
}
@keyframes linear-double {
0% { transform: translateX(-56%); }
100% { transform: translateX(56%); }
}
.Tag { position: relative; display: inline-block; height: 30px; padding: 0px 12px; font-size: 14px; line-height: 30px; color: rgb(0, 102, 255); vertical-align: top; border-radius: 100px; background: rgba(0, 102, 255, 0.1) none repeat scroll 0% 0%; }
.Tag:hover { background-color: rgba(0, 102, 255, 0.15); }
.SearchBar { display: flex; }
.SearchBar-tool { -moz-box-flex: 1; flex-grow: 1; height: 100%; position: relative; overflow: hidden; width: 100%; z-index: 104; }
.SearchBar-tool .Popover, .SearchBar-tool > div { display: block; height: 100%; width: 100%; }
.SearchBar-input { box-sizing: border-box; padding-left: 12px; padding-right: 0px; transition: width 0.2s ease 0s, background 0.3s ease 0s; width: 100%; }
.SearchBar-searchButton { margin-left: 12px; padding: 0px 12px; background: transparent none repeat scroll 0% 0%; border-color: transparent; border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.SearchBar-searchIcon { transition: fill 0.2s ease 0s; }
.AppHeader { position: relative; z-index: 100; min-width: 1000px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.AppHeader { box-shadow: 0px 1px 3px rgba(18, 18, 18, 0.1); }
.AppHeader { background-clip: content-box; }
.AppHeader.is-fixed { z-index: 100; width: 100%; }
.AppHeader-inner { position: relative; display: flex; width: 1000px; height: 52px; padding: 0px 16px; margin: 0px auto; -moz-box-align: center; align-items: center; transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; }
.AppHeader.is-hidden .AppHeader-inner { transform: translateY(-100%); }
.AppHeader-Tabs { border-bottom: medium none; display: flex; flex-shrink: 0; margin: 0px 16px; }
.AppHeader-Tab { padding: 0px 14px; }
.AppHeader-TabsLink, html[data-theme="dark"] .AppHeader-TabsLink { color: rgb(133, 144, 166); }
.AppHeader-TabsLink { font-size: 15px; }
.AppHeader-TabsLink.is-active, .AppHeader-TabsLink:hover { color: rgb(68, 68, 68); }
.AppHeader-TabsLink:focus { outline: medium none; transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s; }
.AppHeader-SearchBar { height: 34px; -moz-box-flex: 1; flex-grow: 1; position: relative; }
.AppHeader-userInfo { flex-shrink: 0; -moz-box-pack: end; justify-content: flex-end; display: flex; -moz-box-align: center; align-items: center; margin-left: 10px; width: 296px; }
.AppHeader-profile { position: relative; }
.AppHeader-login { margin-right: 16px; }
body { font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif; font-size: 15px; color: rgb(18, 18, 18); }
body { background: rgb(246, 246, 246) none repeat scroll 0% 0%; }
body {  }
