/* Code tidied up by ScrapBook */
.wp { width: 100%; max-width: 1200px; min-width: 1200px; }
.block .xl1 ul li { height: 25px; }
#nv #mn_N6666 { display: none; }
#footer { padding-bottom: 1.5em; }
#nv_portal.pg_view .ct2 .mn { width: 100%; }
#nv_portal.pg_view .ct2 .mn .d { width: 70%; float: left; }
#nv_portal .vw .h, #nv_portal .vw .d, #nv_portal .vw .bm { margin-right: 1px; }
#nv_portal #article_copyright { font-size: 12px ! important; padding: 0px; text-align: center; width: 100%; text-shadow: 1px 1px 2px rgb(255, 255, 255), -1px 1px 2px rgb(255, 255, 255), 1px -1px 2px rgb(255, 255, 255), -1px -1px 2px rgb(255, 255, 255); }
#nv_portal #article_date { display: inline; }
#nv_portal .vw #inner_nav, #nv_portal .vw #translator_info { width: 350px; }
#nv_portal .vw #translator_info { font-size: 14px; line-height: 2em; }
#nv_portal .vw #translator_info a { border-bottom: medium none; padding: 0px; }
#nv_portal .vw #footer_info { margin-right: 1px; }
#nv_portal .vw #related { width: 350px; float: right; }
#nv_portal section img { box-shadow: none; margin: 0px; }
#nv_portal .vw .d h3 { display: block; font-weight: 300; background-image: url("linux-logo-2019-t.svg"); background-position: center top; padding: 32px 10px 0px; background-size: 32px auto; background-repeat: no-repeat; font-size: 1.4em; line-height: 2em; margin: 24px 0px; letter-spacing: 2px; text-shadow: 1px 1px 2px rgb(102, 102, 102); color: rgb(33, 150, 243); text-align: center; }
#nv_portal #add_comment, #nv_portal #comment { padding: 0px; }
.tqq, .tsina, .qricon, .wxicon, .tticon, .zhicon, .wyicon, .fbicon, .twicon, .tgicon, .siteshare, .favorite, .invite, .print { display: inline-block; width: 16px; height: 16px; margin-bottom: -3px; margin-right: 6px; overflow: hidden; opacity: 1; }
.tsina { background: transparent url("t.sina.png") no-repeat scroll center center ! important; }
.wxicon { background: transparent url("wx_icon.png") no-repeat scroll center center ! important; }
.tticon { background: transparent url("tt_icon.png") no-repeat scroll center center ! important; }
.zhicon { background: transparent url("zh_icon.png") no-repeat scroll center center ! important; }
.wyicon { background: transparent url("wy_icon.png") no-repeat scroll center center ! important; }
.fbicon { background: transparent url("fb_icon.png") no-repeat scroll center center ! important; }
.twicon { background: transparent url("tw_icon.png") no-repeat scroll center center ! important; }
.tgicon { background: transparent url("tg_icon.png") no-repeat scroll center center ! important; }
.favorite { background: transparent url("fav.gif") no-repeat scroll center center ! important; }
.print { background: transparent url("print.png") no-repeat scroll center center ! important; }
a.tqq:hover, a.tsina:hover, a.tqq_large:hover, a.tsina_large:hover, a.weixin_large:hover, a.fav_large:hover, a.print_large:hover, a.qricon:hover, a.wxicon:hover, a.tticon:hover, .zhicon:hover, .wyicon:hover, .fbicon:hover, .twicon:hover, .tgicon:hover, a.siteshare:hover, a.favorite:hover, a.invite:hover { border-bottom: medium none; opacity: 0.5; }
#qrcode { position: absolute; border: 1px solid rgb(0, 0, 0); width: 230px; height: 270px; display: none; margin: 0px; padding: 5px; background-color: rgb(255, 255, 255); }
#qrcode p { font-weight: bold; font-size: 14px; text-align: center; }
#qrcode em { color: rgb(153, 153, 153); font-size: 12px; }
#qrcode #canvas { width: 200px; height: 200px; margin: 0px 15px; }
#related { margin: 8px 4px 8px 0px ! important; }
#related_tag ul#tag li { background: rgb(238, 238, 238) url("tag.png") no-repeat scroll 4px 6px; border: 1px solid rgb(204, 204, 204); padding: 4px 4px 4px 28px; margin: 1px 4px; border-radius: 4px; width: 35%; }
#related_tag ul#tag li a { font-weight: normal; font-size: 12px; font-family: monospace; }
.mutag { position: relative; }
.mutag li { float: left; height: 40px; line-height: 35px; }
.mutag a { float: left; display: inline; margin: 10px; padding: 4px; white-space: nowrap; background-image: none; background-repeat: repeat; background-attachment: scroll; background-clip: border-box; background-origin: padding-box; background-position: 0% 0%; background-size: auto auto; line-height: 2em; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(255, 255, 255) ! important; border-color: rgb(204, 204, 204) rgb(255, 255, 255) rgb(255, 255, 255) rgb(204, 204, 204); }
.mutag a:hover { border: 1px solid rgb(194, 213, 227); background-color: rgb(229, 237, 242); color: rgb(51, 102, 153); text-decoration: none; }
@media screen and (min-width: 768px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 850px) {
}
@media (min-width: 768px) and (max-width: 979px) {
}
@media (max-width: 767px) {
}
@media print {
  @page { margin: 1cm 0cm; }
  #article_content a { font-weight: bolder; text-decoration: none; }
  body { background: transparent none repeat scroll 0% 0%; }
  .vw .h, #article_content { border: medium none; }
}
@media (max-width: 480px) {
  #topmenu_wrapper { overflow: hidden; }
  #topmenu { padding-left: 0px ! important; }
  #mn_N6666 { display: block; }
  #nv li { width: 65px; }
  #nv #mn_N6666 { display: block ! important; width: 65px ! important; }
  #nv #mn_N6666 a { padding: 0px 10px; }
  #scbar { display: none; }
  #mu { display: none; }
  #wp .wp { width: 100%; max-width: 100%; min-width: 100%; }
  .block .xl1 ul li { font-size: 14px; }
  .wp { width: 100%; max-width: 100%; min-width: 100%; }
  .wp h1 { display: none ! important; }
  .wp .vw h1 { display: block ! important; }
  .bm { margin: 0px; }
  #nv_portal .vw {  }
  #nv_portal .vw .d { margin-right: 0px ! important; }
  #nv_portal .ct2 .mn { width: 100%; float: none; margin-bottom: 0px; }
  #nv_portal.pg_view .ct2 .mn .d { width: 100%; float: none; }
  #nv_portal .vw .h, #nv_portal .vw .d { margin-right: 0px; }
  #nv_portal #article_date { display: none; }
  #nv_portal .vw #footer_info { width: 92%; margin: 4px 0px; }
  #nv_portal .vw #related, #nv_portal .vw #translator_info { width: 100%; }
  #nv_portal .vw .d img { max-width: 95%; margin: auto; }
  #nv_portal .vw .b, #nv_portal #hot_comment, #nv_portal #scrolltop, #nv_portal #inner_nav { display: none; }
  #nv_portal .vw .ph { font-size: 18px ! important; }
  #nv_portal .vw .h.hm { height: 200px ! important; }
  #nv_portal .vw .h.hm h1 { width: 80% ! important; }
  #nv_portal #translator_info { margin-right: 4px; }
  #nv_portal #article_content { border: medium none; }
  #nv_portal .vw .h, #nv_portal .vw .bm { border: medium none; border-radius: 0px; box-shadow: none; }
}
