/* Code tidied up by ScrapBook */
* { font-family: Arial,Helvetica,sans-serif,generic; font-size: 13px; }
h1 { font-family: Arial,Helvetica,sans-serif,generic; font-weight: bold; font-size: 26px; text-align: center; }
h2 { font-family: Arial,Helvetica,sans-serif,generic; font-weight: bold; text-align: center; }
body { font-family: Arial,Helvetica,sans-serif,generic; background-color: white; color: black; text-align: center; }
p { font-family: Arial,Helvetica,sans-serif,generic; text-align: center; }
div { font-family: Arial,Helvetica,sans-serif,generic; font-size: 15px; font-weight: bold; text-align: center; }
img { border: medium none; }
span { font-family: Arial,Helvetica,sans-serif,generic; color: rgb(0, 204, 0); }
span.Quote { color: rgb(153, 0, 0); font-size: inherit; }
table { font-family: Arial,Helvetica,sans-serif,generic; table-layout: fixed; }
table.NavLogo { width: 100%; table-layout: auto; border: medium none; }
table.News { width: 100%; text-align: left; table-layout: auto; vertical-align: top; border: medium none; }
table.Info { text-align: center; table-layout: auto; width: 100%; }
th { font-family: Arial,Helvetica,sans-serif,generic; font-weight: normal; text-align: left; table-layout: auto; border: 1px solid rgb(102, 102, 102); white-space: nowrap; }
th.NavMenu { text-align: left; width: 20%; vertical-align: middle; background-color: rgb(253, 255, 227); border: 2px solid silver; padding-left: 6px; }
th.Invert { font-weight: bold; background-color: rgb(11, 59, 36); color: white; width: 100%; text-align: center; }
td { font-family: Arial,Helvetica,sans-serif,generic; font-weight: normal; table-layout: auto; border: 1px solid rgb(102, 102, 102); margin: 2px; }
td.News { width: 88%; background-color: rgb(246, 237, 200); }
td.News1 { width: 88%; background-color: rgb(253, 255, 227); }
td.NewsLogo { background-color: rgb(253, 255, 227); vertical-align: middle; text-align: center; width: 25%; margin: 2px; padding: 0px; border-width: 0px; }
td.List { width: 100%; padding-left: 6px; background-color: rgb(246, 237, 200); }
td.Introduction1 { background-color: rgb(246, 237, 200); text-align: center; width: 100%; }
td.rTitle { font-family: Arial,Helvetica,sans-serif,generic; font-weight: bold; width: 100%; color: rgb(96, 59, 11); font-size: 150%; text-align: center; background-color: rgb(246, 237, 200); padding: 1px 6px; }
td.rStory { width: 100%; background-color: rgb(253, 255, 227); font-size: 15px; margin: 2px; border-width: 0px; padding: 6px; }
.Background { background-color: rgb(253, 255, 227); }
input { background-color: rgb(253, 255, 227); color: rgb(0, 0, 204); vertical-align: middle; }
ul { font-size: inherit ! important; }
li { font-size: inherit ! important; }
b { font-size: inherit ! important; }
a { font-size: inherit ! important; }
i { font-size: inherit ! important; }
u { font-size: inherit ! important; }
blockquote { font-size: inherit ! important; font-family: Andale Mono; }
a:hover { text-decoration: underline; color: rgb(25, 71, 117); font-size: inherit; }
