/* Code tidied up by ScrapBook */
body { line-height: 1.5; color: rgb(51, 51, 51); min-width: 1000px; }
body.bg-color { background-color: rgb(247, 248, 250); }
:focus { outline: medium none; }
button, input, select, textarea { font-family: inherit; }
.com-inner { box-sizing: border-box; margin: 0px auto; padding: 0px 10px; max-width: 1200px; }
@media screen and (max-width: 1200px) {
  .com-body-main, .com-body.max-width, .com-inner { padding-left: 20px; padding-right: 20px; }
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 768px) {
}
@media (max-width: 600px) {
}
@media (max-width: 768px) {
}
.com-list-enter { margin-top: 20px; }
.com-list-enter .com-arrow-link { display: block; height: 32px; box-sizing: border-box; background-color: rgb(245, 247, 250); line-height: 32px; font-size: 14px; text-align: center; }
[class*="com-i-"], [class^="com-i-"] { display: inline-block; vertical-align: middle; width: 16px; height: 16px; background-size: 100% auto; }
.com-i-share { background-image: url("sprite.base-202204151747.svg"); background-position: 42.623% 97.4948%; background-size: 3150% auto; }
.com-i-warn { background-image: url("sprite.base-202204151747.svg"); background-position: 9.83607% 97.4948%; background-size: 3150% auto; }
.com-i-like { background-image: url("sprite.base-202204151747.svg"); background-position: 96.7213% 70.1461%; background-size: 3150% auto; }
.com-i-add { width: 20px; height: 20px; background-image: url("sprite.base-202204151747.svg"); background-position: 90.0826% 0%; background-size: 2520% auto; }
.com-i-bookmark { background-image: url("sprite.base-202204151747.svg"); background-position: 39.3443% 94.1545%; background-size: 3150% auto; }
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.c-bubble { color: rgb(68, 68, 68); z-index: 900; }
.c-bubble-inner { border: 1px solid rgb(231, 232, 241); border-radius: 0px; box-shadow: 0px 10px 20px rgba(3, 27, 78, 0.1); }
.c-bubble-top .c-bubble-inner::before { border-top-width: 0px; border-bottom-width: 11px; }
.c-bubble-top .c-bubble-inner::after { border-top-width: 0px; border-bottom-width: 9px; }
.c-bubble-right .c-bubble-inner::before { border-left-width: 11px; border-right-width: 0px; }
.c-bubble-right .c-bubble-inner::after { border-left-width: 9px; border-right-width: 0px; }
.c-bubble-top .c-bubble-inner::before { border-bottom-color: rgb(231, 232, 241); }
.c-bubble-right .c-bubble-inner::before { border-left-color: rgb(231, 232, 241); }
.c-bubble-trigger { font-size: 0px; position: relative; }
.c-bubble-trigger, .c-bubble-trigger-icon { display: inline-block; vertical-align: middle; }
.c-bubble-trigger .c-bubble { visibility: hidden; width: 300px; transition: all 0.3s ease 0ms; text-align: center; pointer-events: none; opacity: 0; }
.c-bubble-trigger.hover .c-bubble, .c-bubble-trigger.show-bubble .c-bubble, .c-bubble-trigger:hover .c-bubble { visibility: visible; transition-delay: 0.1s; opacity: 1; }
.c-bubble-trigger .c-bubble .c-bubble-inner { display: inline-block; overflow-y: auto; max-width: 100%; max-height: 100%; text-align: left; vertical-align: middle; pointer-events: auto; }
.c-bubble-trigger .c-bubble-left, .c-bubble-trigger .c-bubble-right { top: 50%; height: 300px; margin-top: -150px; }
.c-bubble-trigger .c-bubble-left::before, .c-bubble-trigger .c-bubble-right::before { font-size: 0px; display: inline-block; width: 0px; height: 100%; content: ""; vertical-align: middle; }
.c-bubble-trigger .c-bubble-right { text-align: right; right: 100%; margin-right: 11px; transform: translateX(11px); }
.c-bubble-trigger.hover .c-bubble-left, .c-bubble-trigger.hover .c-bubble-right, .c-bubble-trigger.show-bubble .c-bubble-left, .c-bubble-trigger.show-bubble .c-bubble-right, .c-bubble-trigger:hover .c-bubble-left, .c-bubble-trigger:hover .c-bubble-right { transform: translateX(0px); }
.com-share-options { top: -1px; font-size: 0px; }
.com-share-options, .com-share-options > li { display: inline-block; vertical-align: middle; position: relative; }
.com-share-options > li { margin-right: 10px; }
.com-share-options .opt-item { position: relative; display: block; z-index: 900; }
.com-share-options .c-bubble-trigger:hover .opt-item { position: relative; z-index: 901; }
.com-share-options .opt-icon { position: relative; display: block; width: 20px; height: 20px; }
.com-share-options .opt-icon::after { content: ""; position: absolute; left: 2px; right: 2px; top: 2px; bottom: 2px; border-radius: 50%; background-color: rgb(255, 255, 255); }
.com-share-options .opt-icon::before { content: ""; position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; height: 100%; background-size: 100% auto; }
.com-share-options .opt-icon.wechat::before { background-image: url("sprite.base-202204151747.svg"); background-position: 33.0578% 90.7368%; background-size: 2520% auto; }
.com-share-options > li:hover .opt-icon.wechat::before { background-image: url("sprite.base-202204151747.svg"); background-position: 28.9256% 90.7368%; background-size: 2520% auto; }
.com-share-options .opt-icon.qq::before { background-image: url("sprite.base-202204151747.svg"); background-position: 61.9835% 90.7368%; background-size: 2520% auto; }
.com-share-options > li:hover .opt-icon.qq::before { background-image: url("sprite.base-202204151747.svg"); background-position: 57.8512% 90.7368%; background-size: 2520% auto; }
.com-share-options .opt-icon.weibo::before { background-image: url("sprite.base-202204151747.svg"); background-position: 37.1901% 90.7368%; background-size: 2520% auto; }
.com-share-options > li:hover .opt-icon.weibo::before { background-image: url("sprite.base-202204151747.svg"); background-position: 41.3223% 90.7368%; background-size: 2520% auto; }
.com-share-options .opt-icon.copy::before { background-image: url("sprite.base-202204151747.svg"); background-position: 53.719% 90.7368%; background-size: 2520% auto; }
.com-share-options > li:hover .opt-icon.copy::before { background-image: url("sprite.base-202204151747.svg"); background-position: 45.4545% 90.7368%; background-size: 2520% auto; }
.com-share-options .c-bubble-inner { font-size: 12px; }
.com-comment-single-edit { margin: 60px 0px 44px; }
.com-comment-single-edit .edit-hd { position: relative; margin-bottom: 10px; line-height: 30px; }
.com-comment-single-edit .edit-title { font-size: 20px; color: rgb(153, 153, 153); font-weight: 400; }
.com-comment-single-edit .edit-icon { display: inline-block; vertical-align: middle; position: relative; top: -1px; margin-right: 10px; width: 22px; height: 22px; background-image: url("sprite.base-202204151747.svg"); background-position: 80.7054% 80.5497%; background-size: 2290.91% auto; }
.com-comment-single-edit .edit-count { position: absolute; right: 0px; top: 0px; font-size: 20px; color: rgb(0, 0, 0); }
.com-comment-single-edit .edit-count-num { color: rgb(0, 164, 255); }
.com-comment-single-edit .edit-body { position: relative; }
.com-comment-single-edit .edit-textarea { box-sizing: border-box; padding: 10px; width: 100%; height: 90px; border: 1px solid rgb(229, 229, 229); background-color: rgb(255, 255, 255); resize: vertical; font-size: 14px; line-height: 1.5; }
.com-comment-single-edit .edit-textarea:focus { border-color: rgb(0, 164, 255); }
.com-comment-single-edit .edit-tip { position: absolute; left: 0px; top: 0px; box-sizing: border-box; width: 100%; height: 100%; border: 1px solid rgba(157, 157, 157, 0.18); background-color: rgb(247, 248, 250); font-size: 16px; line-height: 22px; text-align: center; color: rgb(153, 153, 153); }
.com-comment-single-edit .edit-tip::before { content: ""; display: inline-block; vertical-align: middle; width: 0px; height: 100%; }
.com-comment-single-edit .edit-tip a { color: rgb(0, 164, 255); font-weight: 600; }
.com-media { margin-bottom: 20px; display: table; table-layout: fixed; width: 100%; box-sizing: border-box; }
.com-media-object { display: table-cell; vertical-align: top; padding-right: 20px; box-sizing: content-box; width: 40px; }
.com-media-body { display: table-cell; vertical-align: top; box-sizing: border-box; }
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1200px) {
}
input::-moz-placeholder, textarea::-moz-placeholder { color: rgb(153, 153, 153); }
input::placeholder, textarea::placeholder { color: rgb(153, 153, 153); }
.com-2-nav { position: relative; min-width: 1000px; }
.c-nav-mod-pc, .com-2-nav { display: block; }
.c-nav-bottom { transition: background-color 0.4s cubic-bezier(0.67, 0, 0.33, 1) 0s; }
.c-nav-mod.c-nav-white .c-nav-bm-right { background-color: transparent; }
.c-nav-mod .c-nav-bottom .c-nav-project-logo { padding-top: 16px; }
.c-nav-mod .c-nav-bottom .c-nav-project-logo .c-nav-project-bg-logo { display: inline-block; vertical-align: middle; width: 53px; height: 18px; font-size: 0px; background: transparent url("c-nav-logo-icon-white.svg") no-repeat scroll 0% 0% / 100% auto; }
.c-nav-mod.c-nav-white .c-nav-bottom .c-nav-project-logo .c-nav-project-bg-logo { background-image: url("c-nav-logo-icon.svg"); }
.com-2-nav .dropdown-mini-inner .dropdown-mini-list { padding-top: 10px; padding-bottom: 10px; }
.com-2-nav .dropdown-mini-inner .dropdown-mini-item { line-height: 32px; }
.com-2-nav .dropdown-mini-inner .dropdown-mini-item a { color: rgb(51, 51, 51); }
.com-2-nav .dropdown-mini-inner .dropdown-mini-item a:hover { color: rgb(0, 164, 255); }
.com-2-nav .c-nav-bm-categories .split-item { margin: 0px 10px; height: 54px; line-height: 54px; }
.com-2-nav .c-nav-bm-categories .split-item::before { content: ""; display: inline-block; vertical-align: middle; height: 16px; width: 1px; background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%; }
.c-nav-mod.c-nav-white .c-nav-bm-categories .split-item::before { background: rgb(221, 221, 221) none repeat scroll 0% 0%; }
.com-2-nav .c-nav-dropdown-btn .c-bubble { right: 0px; }
.com-2-nav .c-nav-dropdown-btn .c-bubble-inner { border: 1px solid rgb(231, 232, 241); box-shadow: 0px 10px 20px rgba(3, 27, 78, 0.1); left: auto; right: 22px; }
.com-2-nav .c-nav-dropdown-btn .c-bubble.c-bubble-top .c-bubble-inner::before { border-width: 0px 8px 11px; border-bottom-color: rgb(231, 232, 241); }
.com-2-nav .c-nav-dropdown-btn .c-bubble.c-bubble-top .c-bubble-inner::after { border-width: 0px 7px 9px; margin-bottom: -1px; margin-right: 1px; border-bottom-color: rgb(255, 255, 255); }
.c-nav-mod .c-nav-bm-search.search-icon-rt > input { width: 260px; }
@media screen and (max-width: 768px) {
}
.com-2-nav .c-nav-mod .c-nav-bottom .c-nav-dropdown-btn.nav-dropdown-creation { height: 36px; }
.com-2-nav .c-nav-mod .c-nav-bottom .nav-dropdown-creation .nav-creation-bubble.c-bubble-top { top: 48px; left: 0px; opacity: 0; transition: all 0.3s ease-in 0s; visibility: hidden; }
.com-2-nav .c-nav-mod .c-nav-bottom .nav-dropdown-creation .nav-creation-bubble { width: 104px; }
.com-2-nav .nav-dropdown-creation .nav-creation-bubble .nav-dropdown-mini .dropdown-mini-item a { min-width: unset; padding: 0px 36px 0px 26px; font-size: 14px; }
.com-2-nav .c-nav-dropdown-btn.nav-dropdown-creation .c-bubble.c-bubble-top .c-bubble-inner::after, .com-2-nav .c-nav-dropdown-btn.nav-dropdown-creation .c-bubble.c-bubble-top .c-bubble-inner::before { left: 50%; transform: translateX(-50%); margin-left: -5px; }
.com-2-nav .c-nav-mod .c-nav-bottom .nav-dropdown-creation:hover .nav-creation-bubble.c-bubble-top { opacity: 1; visibility: visible; }
.com-msg-tab-ctrl .msg-num, .com-search-bar { position: relative; display: inline-block; vertical-align: middle; }
.com-search-bar { width: 300px; }
.com-search { position: relative; display: block; }
.com-search .search-input { display: block; box-sizing: border-box; padding: 5px 36px 5px 10px; width: 100%; height: 30px; border: medium none; border-radius: 2px; font-size: 14px; line-height: 20px; color: rgb(0, 0, 0); box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1); }
.com-search input::placeholder { color: rgb(153, 153, 153); }
.com-search .search-btn, .com-search .search-clear { position: absolute; right: 0px; top: 0px; width: 26px; height: 100%; border: medium none; background-color: transparent; line-height: 30px; font-size: 0px; text-align: left; }
.com-search .search-btn::after, .com-search .search-clear::after { content: ""; display: inline-block; vertical-align: middle; width: 16px; height: 16px; background-image: url("sprite.base-202204151747.svg"); background-position: 32.7869% 97.4948%; background-size: 3150% auto; }
.com-search .com-search-bar.focus .search-btn::after, .com-search .search-input:focus + .search-btn::after { background-image: url("sprite.base-202204151747.svg"); background-position: 32.7869% 97.4948%; background-size: 3150% auto; }
.com-search .com-search-bar.focus .search-btn:hover::after, .com-search .search-btn:hover::after, .com-search .search-input:focus + .search-btn:hover::after { background-image: url("sprite.base-202204151747.svg"); background-position: 29.5082% 97.4948%; background-size: 3150% auto; }
.com-search .close-btn { display: none; }
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1000px) {
}
.com-3-nav-search-wrap { position: absolute; top: 0px; right: 0px; width: 580px; margin-top: 7px; z-index: -1; opacity: 0; overflow: hidden; visibility: hidden; }
.com-3-nav-search-wrap .com-search-bar { padding: 3px 0px; background-color: rgb(255, 255, 255); border-top: 1px solid rgba(255, 255, 255, 0.08); }
.com-3-nav-search-wrap .com-search-bar::after { content: ""; position: absolute; left: 10px; bottom: 0px; width: calc(100% - 20px); background-color: rgba(124, 132, 142, 0.3); height: 1px; }
.com-3-nav-search-wrap .com-search-bar { display: block; margin: 0px auto; max-width: 620px; width: auto; }
.com-3-nav-search-wrap .com-search .search-input { display: inline-block; vertical-align: middle; position: relative; left: 200px; opacity: 0; padding-left: 20px; padding-right: 5px; width: calc(100% - 69px); background-color: transparent; box-shadow: none; transition: all 0.4s cubic-bezier(0.11393, 0.8644, 0.14684, 1) 0s; height: 34px; line-height: 24px; color: rgb(0, 0, 0); }
.com-3-nav-search-wrap .com-search .search-btn { display: inline-block; vertical-align: middle; position: static; left: 0px; right: auto; width: 34px; text-align: center; }
.com-3-nav-search-wrap .com-search .search-btn::after { background-image: url("sprite.base-202204151747.svg"); background-position: 32.7869% 97.4948%; background-size: 3150% auto; }
.com-3-nav-search-wrap .com-search .search-btn:hover::after { background-image: url("sprite.base-202204151747.svg"); background-position: 29.5082% 97.4948%; background-size: 3150% auto; }
.com-3-nav-search-wrap .com-search .close-btn { display: inline-block; vertical-align: middle; position: relative; width: 34px; height: 100%; border: medium none; background-color: transparent; line-height: 30px; font-size: 0px; text-align: center; }
.com-3-nav-search-wrap .com-search .close-btn::before { content: ""; position: absolute; right: 100%; top: 8px; width: 1px; height: 14px; background-color: rgb(229, 229, 229); }
.com-3-nav-search-wrap .com-search .close-btn::after { content: ""; display: inline-block; vertical-align: middle; width: 16px; height: 16px; background-image: url("sprite.base-202204151747.svg"); background-position: 77.459% 89.9791%; background-size: 3150% auto; }
.com-3-nav-search-wrap .com-search .close-btn:hover::after { background-image: url("sprite.base-202204151747.svg"); background-position: 84.2213% 85.3862%; background-size: 3150% auto; }
@media screen and (max-width: 1200px) {
  .com-3-nav-search-wrap { width: 460px; }
}
@media screen and (min-width: 1001px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 768px) {
}
.com-v-box, .com-vh-box { position: fixed; top: -1px; width: 1px; height: 1px; overflow: hidden; }
.com-v-box { left: 0px; }
@keyframes galleryLoading {
0% { transform: rotate(0deg); }
100% { transform: rotate(1turn); }
}
@keyframes galleryLoading {
0% { transform: rotate(0deg); }
100% { transform: rotate(1turn); }
}
.com-widget-qr .scan-btn { box-sizing: border-box; border: 1px solid rgb(210, 217, 231); background: rgb(243, 245, 249) none repeat scroll 0% 0%; cursor: pointer; font-size: 0px; width: 46px; height: 44px; line-height: 44px; text-align: center; }
.com-widget-qr .scan-btn::after { content: ""; display: inline-block; vertical-align: middle; width: 21px; height: 21px; background-image: url("sprite.base-202204151747.svg"); background-position: 38.5093% 86.2869%; background-size: 2400% auto; }
.com-widget-qr .c-bubble { width: 150px; }
.com-widget-qr .c-bubble-inner { padding: 12px 10px 10px; }
.com-widget-qr .qr-img { display: block; margin: 0px auto; width: 108px; height: auto; }
.com-widget-qr .qr-img img { display: block; width: 100%; height: auto; }
.com-widget-qr .qr-txt { margin-top: 10px; text-align: center; font-size: 14px; color: rgb(102, 102, 102); }
@media screen� {
}
.com-header { box-sizing: border-box; padding: 0px 15px; min-width: 320px; height: 56px; line-height: 56px; background-color: rgb(255, 255, 255); text-align: center; position: absolute; left: 0px; top: 0px; right: 0px; z-index: auto; border-bottom: 0px none; box-shadow: 0px -1px 0px 0px rgba(210, 217, 231, 0.71) inset; }
.com-header .header-title { color: rgb(0, 0, 0); vertical-align: middle; font-size: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 0px 40px; font-weight: 400; }
.com-header .logo-icon { width: 21px; height: 14.9px; vertical-align: middle; background-color: rgb(33, 33, 33); display: none; }
.com-header .header-extra { position: absolute; right: 15px; top: 0px; }
.com-header .header-extra a { display: inline-block; vertical-align: middle; color: rgb(51, 51, 51); font-size: 14px; }
.com-header .header-extra a:active { color: rgb(0, 164, 255); }
.com-header .header-extra-icon, .com-header .header-home-icon { width: 25px; height: 25px; display: inline-block; vertical-align: middle; }
.com-header .search-entry { position: relative; top: -1px; background-image: url("sprite.base-202204151747.svg"); background-position: 85.8038% 47.8723%; background-size: 2016% auto; }
.header-logo-wrap { display: inline-block; vertical-align: middle; font-size: 0px; }
.header-logo-wrap .header-logo { display: inline-block; vertical-align: middle; position: relative; top: -1px; }
.header-logo-wrap .header-logo .header-title { display: none; }
.header-logo-wrap .header-logo .logo-icon { background: transparent none repeat scroll 0% 0%; }
.header-logo-wrap .header-logo .logo-community { display: block; width: 60px; height: 25px; background-image: url("sprite.base-202204151747.svg"); background-position: 56.0811% 40.8511%; background-size: 840% auto; }
.com-header .header-main { position: absolute; left: 15px; top: 0px; text-align: left; font-size: 0px; }
.com-header .header-menu-trigger { display: inline-block; vertical-align: middle; margin-right: 10px; }
.com-header .header-menu-trigger::before { content: ""; display: inline-block; vertical-align: middle; width: 20px; height: 16px; background-image: url("sprite.base-202204151747.svg"); background-position: 67.562% 85.3862%; background-size: 2520% auto; }
.com-header .header-main-title { display: inline-block; vertical-align: middle; font-size: 16px; color: rgb(51, 51, 51); font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 6em; }
.com-header .header-extra a + a { margin-left: 10px; }
.com-m-side-mask { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 1000; background-color: rgb(0, 0, 0); opacity: 0.7; transition: all 0.3s ease-in-out 0s; }
.com-m-side-mask.hidden { opacity: 0; visibility: hidden; }
.com-m-side { position: absolute; left: 0px; top: 0px; z-index: 1001; width: 300px; height: 100%; background-color: rgb(255, 255, 255); box-shadow: 4px 2px 4px 0px rgba(0, 0, 0, 0.2); transition: all 0.3s ease 0s; }
.com-m-side.hidden { left: -330px; }
.com-m-side-hd { position: relative; padding: 0px 15px; height: 56px; border-bottom: 1px solid rgb(229, 229, 229); line-height: 56px; }
.com-m-side-hd .header-logo-wrap { position: relative; top: -1px; }
.com-m-side-hd-extra { position: absolute; right: 10px; top: 0px; font-size: 0px; }
.com-m-side-link { display: inline-block; vertical-align: middle; padding: 0px 5px; font-size: 14px; color: rgb(153, 153, 153); }
.com-m-side-link [class*="icon-"], .com-m-side-link [class^="icon-"] { position: relative; top: -1px; display: inline-block; vertical-align: middle; margin-left: 5px; width: 16px; height: 16px; }
.com-m-side-link .icon-back { width: 9px; height: 15px; background-image: url("sprite.base-202204151747.svg"); background-position: 98.5859% 64.5833%; background-size: 5600% auto; }
.com-m-side-link [class*="icon-"]:only-child, .com-m-side-link [class^="icon-"]:only-child { margin-right: 5px; }
.com-m-side-bd { top: 57px; overflow-x: hidden; overflow-y: auto; }
.com-m-side-bd, .com-m-side-ft { position: absolute; left: 0px; right: 0px; bottom: 0px; }
.com-m-side-nav { padding: 8px 0px; }
.com-m-side-nav-item.split { margin: 5px 20px; border-top: 1px solid rgb(229, 229, 229); }
.com-m-side-nav-link { display: block; position: relative; padding-left: 62px; padding-right: 20px; font-size: 15px; line-height: 48px; height: 48px; color: rgb(51, 51, 51); }
.com-m-side-nav-link [class*="icon-"], .com-m-side-nav-link [class^="icon-"] { position: absolute; left: 15px; top: 8px; width: 32px; height: 32px; }
.com-m-side-nav-link .icon-home { background-image: url("sprite.base-202204151747.svg"); background-position: 13.5593% 75.378%; background-size: 1575% auto; }
.com-m-side-nav-link .icon-column { background-image: url("sprite.base-202204151747.svg"); background-position: 73.9407% 41.4687%; background-size: 1575% auto; }
.com-m-side-nav-link .icon-ask { background-image: url("sprite.base-202204151747.svg"); background-position: 73.9407% 6.91145%; background-size: 1575% auto; }
.com-m-side-nav-link .icon-salon { background-image: url("sprite.base-202204151747.svg"); background-position: 40.678% 75.378%; background-size: 1575% auto; }
.com-m-side-nav-link .icon-competition { background-image: url("sprite.base-202204151747.svg"); background-position: 73.9407% 55.2916%; background-size: 1575% auto; }
.com-m-side-nav-link .icon-nonstop { background-image: url("sprite.base-202204151747.svg"); background-position: 54.2373% 68.4665%; background-size: 1575% auto; }
.com-m-side-nav-link .icon-devdoc { background-image: url("sprite.base-202204151747.svg"); background-position: 73.9407% 62.203%; background-size: 1575% auto; }
.com-m-side-nav-link .icon-tvp { background-image: url("sprite.base-202204151747.svg"); background-position: 54.2373% 75.378%; background-size: 1575% auto; }
.com-m-side-nav-link .icon-ai { background-image: url("sprite.base-202204151747.svg"); background-position: 73.9407% 0%; background-size: 1575% auto; }
.com-m-side-nav-link .icon-packs { background-image: url("sprite.base-202204151747.svg"); background-position: 27.1186% 75.378%; background-size: 1575% auto; }
.com-m-side-nav-item .icon-video { background-image: url("sprite.base-202204151747.svg"); background-position: 67.7966% 75.378%; background-size: 1575% auto; }
.com-2-m-side .com-m-side-bd { display: flex; flex-flow: column nowrap; -moz-box-orient: vertical; overflow-x: hidden; overflow-y: auto; }
.com-2-m-side .com-m-side-nav { flex: 1 1 0%; -moz-box-flex: 1; box-sizing: border-box; }
.com-2-m-side .com-m-side-idx-link-wrap { padding: 20px; width: 100%; box-sizing: border-box; }
.com-2-m-side .com-m-side-idx-link { line-height: 30px; font-size: 14px; color: rgb(155, 155, 155); }
.com-header.subsite .header-logo { top: -2px; }
@media screen and (min-width: 601px) {
  .com-header .header-main-title { max-width: 12em; }
}
@media screen and (max-width: 320px) {
  .com-header .header-main-title { max-width: 5em; }
}
@media screen and (max-width: 768px) {
}
.com-2-m-footer, .com-header, .com-m-footer { display: none; }
@media screen and (max-width: 1000px) {
}
@media screen and (min-width: 769px) {
  .com-m-side, .com-m-side-mask { display: none; }
}
@media screen and (max-width: 768px) {
}
.com-opt-link, .com-opt-text { display: inline-block; vertical-align: middle; color: rgb(153, 153, 153); font-size: 12px; }
.com-opt-link [class*="com-i-"], .com-opt-link [class^="com-i-"], .com-opt-text [class*="com-i-"], .com-opt-text [class^="com-i-"] { position: relative; top: -1px; margin-right: 5px; }
.com-opt-link .com-i-share:last-child, .com-opt-text .com-i-share:last-child { margin-right: 0px; }
.com-opt-text.actived, a.com-opt-link.actived, a.com-opt-link:hover { color: rgb(0, 164, 255); text-decoration: none; }
a.com-opt-link:hover .com-i-share { background-image: url("sprite.base-202204151747.svg"); background-position: 52.459% 97.4948%; background-size: 3150% auto; }
a.com-opt-link:hover .com-i-warn { background-image: url("sprite.base-202204151747.svg"); background-position: 3.27869% 97.4948%; background-size: 3150% auto; }
.com-opt-link .com-i-like, .com-opt-text .com-i-like { top: -2px; }
a.com-opt-link:hover .com-i-like { background-image: url("sprite.base-202204151747.svg"); background-position: 96.7213% 73.4864%; background-size: 3150% auto; }
a.com-opt-link:hover .com-i-bookmark { background-image: url("sprite.base-202204151747.svg"); background-position: 36.0656% 94.1545%; background-size: 3150% auto; }
.com-operations { position: relative; font-size: 0px; margin-top: 15px; }
.com-operations .com-opt-link, .com-operations .com-opt-text { margin-right: 20px; }
.com-operations .com-opt-link:last-child, .com-operations .com-opt-text:last-child { margin-right: 0px; }
.com-thumbnail { display: block; width: 236px; height: 177px; background-size: cover; background-repeat: no-repeat; background-position: 50% center; }
.com-2-avatar { display: inline-block; vertical-align: middle; position: relative; width: 28px; height: 28px; }
.com-2-avatar-inner { box-sizing: border-box; display: block; width: 100%; height: 100%; border-radius: 50% 50% 50% 0px; border: 1px solid rgb(229, 232, 237); background-color: rgb(229, 238, 248); background-position: 50% center; background-size: cover; background-repeat: no-repeat; text-align: center; font-size: 14px; line-height: 26px; overflow: hidden; }
.com-widget-global { position: fixed; right: 40px; bottom: 60px; z-index: 300; width: 46px; padding-bottom: 50px; }
.com-widget-global .com-widget-qr { margin-top: -1px; }
.com-widget-global .com-widget-qr .c-bubble-inner { margin-top: -15px; }
@media (max-width: 1440px) {
  .com-widget-global { right: 10px; }
}
@media (max-width: 768px) {
  .com-widget-global { display: none ! important; }
}
.com-widget-global .com-widget-qr .scan-btn, .com-widget-global.has-share .com-widget-qr .scan-btn { border-color: transparent; }
.com-2-footer { background: rgb(46, 48, 51) none repeat scroll 0% 0%; box-sizing: border-box; }
.com-2-footer-inner { box-sizing: border-box; margin: 0px auto; max-width: 1200px; padding: 0px 10px; }
@media screen and (max-width: 1200px) {
  .com-2-footer-inner { padding: 0px 20px; }
}
@media screen and (max-width: 1440px) {
}
.com-2-footer-main { padding: 40px 0px 32px; }
.com-2-footer-main-ctn { position: relative; }
.com-2-footer-main-inner { display: table; width: 100%; table-layout: fixed; box-sizing: border-box; }
.com-2-footer-website { display: table-cell; vertical-align: top; margin-right: 0px; }
.com-2-footer-website-group { font-size: 0px; box-sizing: border-box; width: 100%; }
.com-2-footer-website-group .com-2-footer-website-column { display: inline-block; box-sizing: border-box; font-size: 14px; vertical-align: top; width: 25%; padding-left: 0px; padding-right: 20px; }
.com-2-footer-website-title { margin-bottom: 22px; font-weight: 400; line-height: 22px; font-size: 16px; color: rgb(255, 255, 255); }
.com-2-footer-website-list { margin-top: 15px; }
.com-2-footer-website-item a { display: inline-block; vertical-align: top; max-width: 100%; padding: 5px 0px; font-size: 12px; line-height: 18px; color: rgb(153, 153, 153); }
.com-2-footer-website-item a:hover { color: rgb(0, 164, 255); }
.com-2-footer-copyright { display: table-cell; vertical-align: top; width: 120px; box-sizing: border-box; }
.com-2-footer-copyright-title { font-size: 16px; line-height: 22px; color: rgb(255, 255, 255); font-weight: 400; margin-bottom: 28px; }
.com-2-footer-qr-object { margin-bottom: 10px; width: 90px; height: 90px; box-sizing: border-box; border: 7px solid rgb(255, 255, 255); }
.com-2-footer .com-2-footer-qr-image { display: block; width: 100%; height: 100%; }
.com-2-footer-qr-info { white-space: nowrap; }
.com-2-footer-qr-text { line-height: 18px; font-size: 12px; color: rgb(255, 255, 255); }
.com-2-footer-copyright-cnt { padding: 0px 20px; font-size: 12px; line-height: 20px; color: rgb(153, 153, 153); text-align: center; }
.com-2-footer-copyright-cnt .com-2-footer-inner { border-top: 1px solid rgb(69, 72, 76); padding: 20px 0px; max-width: 1180px; }
.com-2-footer-copyright-cnt a { color: inherit; }
.com-2-footer-copyright-cnt a:hover { color: rgb(0, 164, 255); }
.com-2-footer-recommend { background: rgb(46, 48, 51) none repeat scroll 0% 0%; }
.com-2-footer-recommend-rows { padding: 30px 0px; border-top: 1px solid rgb(69, 72, 76); }
.com-2-footer-recommend-cell { position: relative; padding-left: 100px; min-height: 14px; }
.com-2-footer-recommend-cell + .com-2-footer-recommend-cell { margin-top: 15px; }
.com-2-footer-recommend-tit { position: absolute; left: 0px; top: 0px; width: 100px; line-height: 14px; font-size: 14px; color: rgb(255, 255, 255); font-weight: 400; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.com-2-footer-recommend-list-wrap { padding-left: 20px; overflow: hidden; }
.com-2-footer-recommend-list { margin-left: -10px; margin-right: -10px; margin-bottom: -15px; font-size: 0px; }
.com-2-footer-recommend-item { display: inline-block; vertical-align: top; margin-bottom: 15px; padding: 0px 10px; width: 100px; }
.com-2-footer-recommend-link { line-height: 14px; font-size: 12px; color: rgb(153, 153, 153); }
.com-2-footer-recommend-link:hover { color: rgb(0, 164, 255); }
@media screen and (max-width: 768px) {
  .com-2-footer-recommend { display: none; }
}
@keyframes com-growup-mod-num-up {
10% { top: -30px; opacity: 1; }
50% { top: -30px; opacity: 1; }
100% { top: -30px; opacity: 0; }
}
@keyframes com-growup-mod-animate-bar {
100% { width: 100%; }
}
.com-crumb { margin-top: 30px; margin-bottom: 30px; font-size: 0px; }
.com-crumb .crumb-item { display: inline-block; vertical-align: middle; font-size: 14px; color: rgb(51, 51, 51); }
.com-crumb .crumb-item:hover { color: rgb(0, 164, 255); }
.com-crumb .crumb-item.current, .com-crumb .crumb-item.current:hover { color: rgb(153, 153, 153); }
.com-crumb .crumb-split { display: inline-block; vertical-align: middle; margin: 0px 5px; width: 16px; height: 16px; background-image: url("sprite.base-202204151747.svg"); background-position: 87.2951% 89.9791%; background-size: 3150% auto; }
.com-crumb.no-pb .com-inner, .com-crumb.no-pd .com-inner { padding-left: 0px; padding-right: 0px; }
.com-crumb.theme2 { margin-top: 20px; margin-bottom: 20px; }
.com-crumb.theme2 .crumb-item { font-size: 12px; line-height: 20px; }
.com-crumb.theme2 .crumb-split { position: relative; top: -1px; margin: 0px 8px; width: 5px; height: 9px; background-image: url("sprite.base-202204151747.svg"); background-position: 81.3627% 75.3086%; background-size: 10080% auto; }
@media (max-width: 1200px) {
}
@media (min-width: 769px) {
}
@media (min-width: 601px) {
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
.com-widget-operations2 { position: fixed; top: 154px; margin-left: -97px; text-align: center; width: 46px; z-index: 300; }
.com-widget-operations2 .main-cnt { margin-bottom: 30px; }
.com-widget-operations2 .link-add, .com-widget-operations2 .link-bookmark, .com-widget-operations2 .link-like, .com-widget-operations2 .link-share { position: relative; display: block; box-sizing: border-box; margin: 0px auto 14px; width: 40px; height: 40px; border: 1px solid rgb(0, 164, 255); line-height: 38px; text-align: center; border-radius: 50%; }
.com-widget-operations2 .link-bookmark { border: medium none; line-height: 40px; }
.com-widget-operations2 .link-like .com-i-like, .com-widget-operations2 .link-like:hover .com-i-like { margin-right: 0px; width: 18px; height: 18px; background-image: url("sprite.base-202204151747.svg"); background-position: 96.7213% 73.4864%; background-size: 3150% auto; }
.com-widget-operations2 .link-bookmark .text, .com-widget-operations2 .link-like .text { position: absolute; left: 24px; top: -3px; padding: 0px 5px; height: 16px; border-radius: 8px; background-color: rgb(0, 164, 255); font-size: 12px; line-height: 16px; text-align: center; color: rgb(255, 255, 255); font-weight: 600; }
.com-widget-operations2 .link-bookmark .com-i-bookmark, .com-widget-operations2 .link-bookmark:hover .com-i-bookmark { margin-right: 0px; width: 40px; height: 40px; background-image: url("sprite.base-202204151747.svg"); background-position: 42.623% 94.1545%; background-size: 3150% auto; }
.com-widget-operations2 .com-opt-text, .com-widget-shares .com-opt-text { margin-bottom: 10px; font-size: 14px; line-height: 20px; }
.com-widget-operations2 .com-share-options > li, .com-widget-shares .com-share-options > li { margin-right: 0px; margin-bottom: 2px; }
.com-widget-operations2 .com-share-options .opt-item, .com-widget-shares .com-share-options .opt-item { width: 46px; height: 44px; text-align: center; line-height: 44px; }
.com-widget-operations2 .com-share-options .opt-icon, .com-widget-shares .com-share-options .opt-icon { width: 100%; height: 100%; background-color: rgb(243, 245, 249); }
.com-widget-operations2 .com-share-options .opt-icon::before, .com-widget-shares .com-share-options .opt-icon::before { position: static; display: inline-block; vertical-align: middle; width: 26px; height: 26px; }
.com-widget-operations2 .com-share-options .opt-icon::after, .com-widget-shares .com-share-options .opt-icon::after { display: none; }
.com-widget-operations2 .com-share-options .opt-icon.wechat::before, .com-widget-shares .com-share-options .opt-icon.wechat::before { background-image: url("sprite.base-202204151747.svg"); background-position: 17.1548% 81.2367%; background-size: 1938.46% auto; }
.com-widget-operations2 .com-share-options > li:hover .opt-icon.wechat, .com-widget-shares .com-share-options > li:hover .opt-icon.wechat { background-color: rgb(48, 204, 4); }
.com-widget-operations2 .com-share-options > li:hover .opt-icon.wechat::before, .com-widget-shares .com-share-options > li:hover .opt-icon.wechat::before { background-image: url("sprite.base-202204151747.svg"); background-position: 11.7155% 81.2367%; background-size: 1938.46% auto; }
.com-widget-operations2 .com-share-options .opt-icon.qq::before, .com-widget-shares .com-share-options .opt-icon.qq::before { background-image: url("sprite.base-202204151747.svg"); background-position: 49.7908% 81.2367%; background-size: 1938.46% auto; }
.com-widget-operations2 .com-share-options > li:hover .opt-icon.qq, .com-widget-shares .com-share-options > li:hover .opt-icon.qq { background-color: rgb(0, 164, 255); }
.com-widget-operations2 .com-share-options > li:hover .opt-icon.qq::before, .com-widget-shares .com-share-options > li:hover .opt-icon.qq::before { background-image: url("sprite.base-202204151747.svg"); background-position: 44.3515% 81.2367%; background-size: 1938.46% auto; }
.com-widget-operations2 .com-share-options .opt-icon.weibo::before, .com-widget-shares .com-share-options .opt-icon.weibo::before { background-image: url("sprite.base-202204151747.svg"); background-position: 22.5941% 81.2367%; background-size: 1938.46% auto; }
.com-widget-operations2 .com-share-options > li:hover .opt-icon.weibo, .com-widget-shares .com-share-options > li:hover .opt-icon.weibo { background-color: rgb(244, 59, 81); }
.com-widget-operations2 .com-share-options > li:hover .opt-icon.weibo::before, .com-widget-shares .com-share-options > li:hover .opt-icon.weibo::before { background-image: url("sprite.base-202204151747.svg"); background-position: 28.0335% 81.2367%; background-size: 1938.46% auto; }
.com-widget-operations2 .com-share-options .opt-icon.copy::before, .com-widget-shares .com-share-options .opt-icon.copy::before { background-image: url("sprite.base-202204151747.svg"); background-position: 38.9121% 81.2367%; background-size: 1938.46% auto; }
.com-widget-operations2 .com-share-options > li:hover .opt-icon.copy, .com-widget-shares .com-share-options > li:hover .opt-icon.copy { background-color: rgb(95, 93, 93); }
.com-widget-operations2 .com-share-options > li:hover .opt-icon.copy::before, .com-widget-shares .com-share-options > li:hover .opt-icon.copy::before { background-image: url("sprite.base-202204151747.svg"); background-position: 33.4728% 81.2367%; background-size: 1938.46% auto; }
.com-widget-operations2.theme2 { margin-left: -60px; top: 190px; width: 40px; }
.com-widget-operations2.theme2 .main-cnt { margin-bottom: 20px; }
.com-widget-operations2.theme2 .link-add, .com-widget-operations2.theme2 .link-bookmark, .com-widget-operations2.theme2 .link-like, .com-widget-operations2.theme2 .link-share { margin-bottom: 12px; border-radius: 50%; border: medium none; background-color: rgb(255, 255, 255); box-shadow: 0px 2px 4px 0px rgba(12, 13, 15, 0.06); line-height: 40px; }
.com-widget-operations2.theme2 .link-like .com-i-like { width: 16px; height: 16px; background-image: url("sprite.base-202204151747.svg"); background-position: 96.7213% 76.8267%; background-size: 3150% auto; }
.com-widget-operations2.theme2 .link-like.actived .com-i-like, .com-widget-operations2.theme2 .link-like.actived:hover .com-i-like, .com-widget-operations2.theme2 .link-like:hover .com-i-like { background-image: url("sprite.base-202204151747.svg"); background-position: 96.7213% 53.4447%; background-size: 3150% auto; }
.com-widget-operations2.theme2 .link-bookmark .com-i-bookmark { width: 16px; height: 16px; background-image: url("sprite.base-202204151747.svg"); background-position: 42.623% 94.1545%; background-size: 3150% auto; }
.com-widget-operations2.theme2 .link-bookmark.actived .com-i-bookmark, .com-widget-operations2.theme2 .link-bookmark.actived:hover .com-i-bookmark, .com-widget-operations2.theme2 .link-bookmark:hover .com-i-bookmark { background-image: url("sprite.base-202204151747.svg"); background-position: 29.5082% 94.1545%; background-size: 3150% auto; }
.com-widget-operations2.theme2 .link-add .text, .com-widget-operations2.theme2 .link-bookmark .text, .com-widget-operations2.theme2 .link-like .text, .com-widget-operations2.theme2 .link-share .text { left: 50%; top: -6px; padding: 0px 4px; height: 14px; border-radius: 2px; line-height: 14px; font-weight: 500; }
.com-widget-operations2.theme2 .link-add .text::before, .com-widget-operations2.theme2 .link-bookmark .text::before, .com-widget-operations2.theme2 .link-like .text::before, .com-widget-operations2.theme2 .link-share .text::before { content: ""; position: absolute; left: 5px; top: 100%; width: 0px; height: 0px; border-color: rgb(0, 164, 255) transparent transparent rgb(0, 164, 255); border-style: solid; border-width: 3px; }
.com-widget-operations2.theme2 .extra-cnt { border-radius: 20px; padding: 20px 0px 4px; background-color: rgb(255, 255, 255); box-shadow: 0px 2px 4px 0px rgba(12, 13, 15, 0.06); }
.com-widget-operations2.theme2 .share-text { margin-bottom: 4px; font-size: 12px; line-height: 18px; color: rgb(102, 102, 102); }
.com-widget-operations2.theme2 .com-share-options { display: block; }
.com-widget-operations2.theme2 .com-share-options > li { display: block; position: relative; margin-bottom: 0px; padding: 16px 0px; }
.com-widget-operations2.theme2 .com-share-options > li::before { content: ""; position: absolute; left: 50%; bottom: 0px; width: 20px; height: 1px; background-color: rgb(229, 229, 229); margin-left: -10px; }
.com-widget-operations2.theme2 .com-share-options .opt-item { width: auto; height: 20px; line-height: 20px; }
.com-widget-operations2.theme2 .com-share-options .opt-icon { width: 20px; height: 20px; display: block; margin: 0px auto; background-color: transparent; }
.com-widget-operations2.theme2 .com-share-options .opt-icon::before { display: block; width: 100%; height: 100%; }
.com-widget-operations2.theme2 .com-share-options .opt-icon.wechat::before { background-image: url("sprite.base-202204151747.svg"); background-position: 42.7686% 86.1053%; background-size: 2520% auto; }
.com-widget-operations2.theme2 .com-share-options > li:hover .opt-icon.wechat { background-color: transparent; }
.com-widget-operations2.theme2 .com-share-options > li:hover .opt-icon.wechat::before { background-image: url("sprite.base-202204151747.svg"); background-position: 46.9008% 86.1053%; background-size: 2520% auto; }
.com-widget-operations2.theme2 .com-share-options .opt-icon.qq::before { background-image: url("sprite.base-202204151747.svg"); background-position: 20.6612% 90.7368%; background-size: 2520% auto; }
.com-widget-operations2.theme2 .com-share-options > li:hover .opt-icon.qq { background-color: transparent; }
.com-widget-operations2.theme2 .com-share-options > li:hover .opt-icon.qq::before { background-image: url("sprite.base-202204151747.svg"); background-position: 24.7934% 90.7368%; background-size: 2520% auto; }
.com-widget-operations2.theme2 .com-share-options .opt-icon.weibo::before { background-image: url("sprite.base-202204151747.svg"); background-position: 51.0331% 86.1053%; background-size: 2520% auto; }
.com-widget-operations2.theme2 .com-share-options > li:hover .opt-icon.weibo { background-color: transparent; }
.com-widget-operations2.theme2 .com-share-options > li:hover .opt-icon.weibo::before { background-image: url("sprite.base-202204151747.svg"); background-position: 55.1653% 86.1053%; background-size: 2520% auto; }
.com-widget-operations2.theme2 .com-share-options .opt-icon.copy::before { background-image: url("sprite.base-202204151747.svg"); background-position: 59.2975% 86.1053%; background-size: 2520% auto; }
.com-widget-operations2.theme2 .com-share-options > li:hover .opt-icon.copy { background-color: transparent; }
.com-widget-operations2.theme2 .com-share-options > li:hover .opt-icon.copy::before { background-image: url("sprite.base-202204151747.svg"); background-position: 63.4298% 86.1053%; background-size: 2520% auto; }
.com-widget-operations2.theme2 .com-widget-poster { padding: 16px 0px; display: block; }
.com-widget-operations2.theme2 .com-widget-poster .scan-btn { height: 20px; line-height: 20px; text-align: center; font-size: 0px; vertical-align: middle; background: transparent none repeat scroll 0% 0%; }
.com-widget-operations2.theme2 .com-widget-poster .scan-btn::before { content: ""; width: 20px; height: 20px; display: block; margin: 0px auto; background-image: url("sprite.base-202204151747.svg"); background-position: 16.5289% 90.7368%; background-size: 2520% auto; }
.com-widget-operations2.theme2 .com-widget-poster:hover .scan-btn::before { background-image: url("sprite.base-202204151747.svg"); background-position: 12.3967% 90.7368%; background-size: 2520% auto; }
.com-widget-operations2.theme2 .com-widget-poster .c-bubble { width: 150px; }
.com-widget-operations2.theme2 .c-bubble .c-bubble-inner { font-size: 14px; line-height: 24px; text-align: center; }
.com-widget-operations2.theme2 .link-add .com-i-add { margin-right: 0px; width: 24px; height: 24px; background-image: url("sprite.base-202204151747.svg"); background-position: 85.625% 63.2696%; background-size: 2100% auto; }
.com-widget-operations2.theme2 .link-add:hover { background-color: rgb(0, 164, 255); }
.com-widget-operations2.theme2 .link-add:hover .com-i-add { background-image: url("sprite.base-202204151747.svg"); background-position: 85.625% 58.1741%; background-size: 2100% auto; }
.com-widget-operations2.theme2 .link-add.is-actived { background-color: rgb(0, 164, 255); }
.com-widget-operations2.theme2 .link-add.is-actived .com-i-add { background-image: url("sprite.base-202204151747.svg"); background-position: 85.625% 58.1741%; background-size: 2100% auto; }
.com-widget-operations2.theme2 .link-add { box-shadow: 0px 2px 6px 0px rgba(0, 164, 255, 0.4); }
.com-widget-operations2.theme2 .link-share .com-i-share { margin-right: 0px; width: 24px; height: 24px; background-image: url("sprite.base-202204151747.svg"); background-position: 45% 41.8259%; background-size: 2100% auto; }
.com-widget-operations2.theme2 .link-share:hover { background-color: rgb(0, 164, 255); }
.com-widget-operations2.theme2 .link-share.actived .com-i-share, .com-widget-operations2.theme2 .link-share.actived:hover .com-i-share, .com-widget-operations2.theme2 .link-share:hover .com-i-share { background-image: url("sprite.base-202204151747.svg"); background-position: 40% 41.8259%; background-size: 2100% auto; }
.com-widget-operations2.theme2 .link-bookmark:hover, .com-widget-operations2.theme2 .link-like:hover { background-color: rgb(0, 164, 255); }
.com-event-panel, .com-widget-operations2.theme2 .link-share { margin-bottom: 20px; }
.com-event-panel.without-margin { margin-bottom: 0px; }
.com-event-panel-inner { box-sizing: border-box; display: table; width: 100%; table-layout: fixed; }
.com-event-panel-object { display: table-cell; width: 220px; vertical-align: middle; position: relative; }
.com-event-panel-img { display: block; width: 220px; height: 118px; }
.com-event-panel-sign-wrap { position: absolute; right: 4px; top: 10px; font-size: 0px; }
.com-event-panel-sign { padding: 0px 6px; box-sizing: border-box; border: 1px solid rgb(255, 255, 255); font-size: 12px; line-height: 18px; color: rgb(255, 255, 255); opacity: 0.5; }
.com-event-panel-close, .com-event-panel-sign { display: inline-block; vertical-align: middle; height: 20px; }
.com-event-panel-close { margin-left: 5px; width: 20px; text-align: center; line-height: 20px; }
.com-event-panel-close::before { content: ""; display: inline-block; vertical-align: middle; width: 12px; height: 12px; background-image: url("sprite.base-202204151747.svg"); background-position: 80.0813% 75.7764%; background-size: 4200% auto; }
.com-event-panel-l .com-event-panel-object { display: block; width: auto; }
.com-event-panel-l .com-event-panel-img { width: 330px; height: 160px; }
.com-event-panel-l.theme2 .com-event-panel-img { width: 100%; height: auto; }
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 1367px) and (min-height: 769px) {
}
@media screen and (max-width: 768px) {
}
.c-btn { height: 32px; min-width: 88px; padding: 0px 16px; background-color: rgb(0, 164, 255); border: 1px solid transparent; color: rgb(255, 255, 255); font-size: 14px; line-height: 30px; text-align: center; display: inline-block; cursor: pointer; outline: 0px none; box-sizing: border-box; border-radius: 0px; }
.c-btn:hover { text-decoration: none; background-color: rgb(0, 146, 238); }
.c-btn-hole { background-color: transparent; line-height: 30px; }
.c-btn-hole, .c-btn-hole:hover { border: 1px solid rgb(0, 164, 255); color: rgb(0, 164, 255); }
.c-btn-hole:hover { background-color: rgba(0, 164, 255, 0.15); }
.c-btn-weak { background: transparent none repeat scroll 0% 0%; border: 1px solid rgb(220, 222, 230); color: rgb(102, 102, 102); line-height: 30px; }
.c-btn-weak:hover { background: transparent none repeat scroll 0% 0%; border: 1px solid rgb(153, 153, 153); color: rgb(0, 0, 0); }
.c-btn.l { height: 36px; line-height: 34px; }
.c-btn-small, .c-btn.s, .c-btn.small { height: 28px; line-height: 26px; min-width: 80px; padding: 0px 10px; font-size: 12px; }
.com-comment-single-edit.theme2 { margin-top: 0px; margin-bottom: 40px; }
.com-comment-single-edit.theme2 .edit-hd { margin-bottom: 16px; line-height: 28px; }
.com-comment-single-edit.theme2 .edit-title { position: absolute; right: 0px; top: 0px; font-size: 18px; }
.com-comment-single-edit.theme2 .edit-count { position: static; font-size: 18px; font-weight: 500; }
.com-comment-single-edit.theme2 .edit-tip { border-color: rgb(229, 229, 229); background-color: rgb(245, 247, 250); font-weight: 500; }
@media screen and (max-width: 768px) {
}
@keyframes aniHeroBreath {
0%, 100% { opacity: 0; }
50% { opacity: 1; }
}
@keyframes aniHeroBreath {
0%, 100% { opacity: 0; }
50% { opacity: 1; }
}
@media screen and (max-width: 1280px) {
}
.com-3-article-panel { position: relative; padding: 25px 0px; border-bottom: 1px solid rgb(225, 227, 233); cursor: pointer; }
.com-3-article-panel:hover { background: transparent linear-gradient(90deg, rgba(243, 245, 249, 0), rgb(243, 245, 249) 15%, rgb(243, 245, 249) 85%, rgba(243, 245, 249, 0)) repeat scroll 0% 0%; }
.com-3-article-panel > .panel-link { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
.com-3-article-panel-media { display: table; table-layout: fixed; width: 100%; }
.com-3-article-panel-body, .com-3-article-panel-object { display: table-cell; vertical-align: top; }
.com-3-article-panel-object { padding-left: 30px; width: 150px; }
.com-3-article-panel-title { font-size: 20px; line-height: 26px; color: rgb(51, 51, 51); font-weight: 500; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.com-3-article-panel-desc { margin-top: 10px; font-size: 14px; line-height: 24px; color: rgb(102, 102, 102); overflow-wrap: break-word; display: -webkit-box; -moz-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; max-height: 48px; }
.com-3-article-panel-infos { position: relative; z-index: 2; margin-top: 10px; font-size: 0px; }
.com-3-article-panel-source { display: inline-block; vertical-align: middle; margin-top: 5px; margin-right: 15px; font-size: 12px; line-height: 18px; color: rgb(153, 153, 153); }
.com-3-article-panel-source .item { display: inline-block; color: inherit; vertical-align: middle; }
.com-3-article-panel-source .item .com-2-avatar { width: 22px; height: 22px; margin-right: 8px; }
.com-3-article-panel-source .author { max-width: 16em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.com-3-article-panel-source .item::before { content: ""; position: relative; top: -1px; display: inline-block; vertical-align: middle; margin: 0px 5px; width: 2px; height: 2px; background-color: rgb(153, 153, 153); border-radius: 50%; }
.com-3-article-panel-source .item:first-child::before { display: none; }
.com-3-article-panel-source a.item:hover { color: rgb(0, 164, 255); }
.com-3-article-panel-thumbnail { width: 150px; height: 112px; }
.com-3-article-panel.theme2 { padding-top: 20px; padding-bottom: 20px; border-bottom-color: rgb(229, 229, 229); }
.com-3-article-panel.theme2:hover { background: transparent none repeat scroll 0% 0%; }
.com-3-article-panel.theme2:hover .com-3-article-panel-title { color: rgb(0, 164, 255); }
.com-3-article-panel.theme2 .com-3-article-panel-object { padding-left: 40px; width: 120px; vertical-align: middle; }
.com-3-article-panel.theme2 .com-3-article-panel-thumbnail { width: 100%; height: auto; padding-top: 75%; }
.com-3-article-panel.theme2 .com-3-article-panel-title { font-size: 18px; line-height: 28px; font-weight: 500; }
.com-3-article-panel.theme2 .com-3-article-panel-desc { margin-top: 12px; }
.com-3-article-panel.theme2 .com-3-article-panel-infos { margin-top: 14px; line-height: 20px; }
.com-3-article-panel.theme2 .com-3-article-panel-source { margin-top: 0px; line-height: 20px; }
.com-3-article-panels.without-padding-top { margin-top: -28px; }
.com-3-article-panel.theme2 .com-3-article-panel-source .author, .com-3-article-panel.theme2 .com-3-article-panel-source .author:hover { color: rgb(63, 63, 63); }
@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
.com-sticky-header { position: fixed; left: 0px; top: 0px; z-index: 1001; box-sizing: border-box; padding-left: 10px; padding-right: 10px; width: 100%; min-width: 1000px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 2px 2px 0px rgba(207, 216, 221, 0.7); transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s; }
.com-sticky-header.hidden { transform: translate3d(0px, -100%, 0px); visibility: hidden; opacity: 0; pointer-events: none; }
.com-sticky-header > .com-inner { position: relative; padding-top: 10px; padding-bottom: 10px; display: table; table-layout: fixed; width: 100%; }
.com-sticky-header-main { display: table-cell; vertical-align: middle; }
.com-sticky-header-extra { display: table-cell; vertical-align: middle; padding-left: 20px; width: 200px; text-align: right; line-height: 36px; }
.com-sticky-header .c-btn { vertical-align: middle; margin-left: 10px; min-width: 80px; }
@media screen and (max-width: 1200px) {
}
.com-arrow-link { color: rgb(0, 164, 255); }
.com-arrow-link::after { content: ""; display: inline-block; vertical-align: 0px; margin-left: 6px; width: 6px; height: 10px; overflow: hidden; background-image: url("sprite.base-202204151747.svg"); background-position: 18.4739% 7.21649%; background-size: 8400% auto; transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s; }
.com-arrow-link:hover::after { transform: translateX(4px); }
.com-arrow-link.gray { color: rgb(102, 102, 102); }
.com-arrow-link.gray:hover { color: rgb(0, 164, 255); }
.com-arrow-link.gray::after { background-image: url("sprite.base-202204151747.svg"); background-position: 18.4739% 5.15464%; background-size: 8400% auto; }
.com-arrow-link.gray:hover::after { background-image: url("sprite.base-202204151747.svg"); background-position: 48.3936% 26.3918%; background-size: 8400% auto; }
@media (max-width: 768px) {
}
.com-3-layout { display: table; table-layout: fixed; margin-bottom: 60px; box-sizing: border-box; width: 100%; }
.com-3-layout > .layout-main { display: table-cell; vertical-align: top; padding-left: 20px; }
.com-3-layout > .layout-main:first-child { padding-right: 20px; padding-left: 0px; }
.com-3-layout > .layout-side { display: table-cell; vertical-align: top; width: 300px; }
.com-2-panel { margin-bottom: 20px; box-sizing: border-box; background-color: rgb(255, 255, 255); border: 1px solid rgb(229, 232, 237); padding: 32px; box-shadow: 0px 2px 4px 0px rgba(3, 27, 78, 0.06); }
.com-2-panel-hd { margin-bottom: 32px; }
.com-2-panel-title { font-size: 24px; line-height: 32px; font-weight: 400; color: rgb(0, 0, 0); }
.com-2-panel-subhd { position: relative; margin-top: 20px; margin-bottom: 12px; font-size: 12px; line-height: 20px; color: rgb(102, 102, 102); }
.com-2-panel-subhd::before { content: ""; position: absolute; left: 0px; top: 50%; width: 100%; height: 1px; background-color: rgb(229, 229, 229); }
.com-2-panel-subtitle { position: relative; display: inline-block; box-sizing: border-box; max-width: 100%; font-weight: 400; padding-right: 8px; background-color: rgb(255, 255, 255); }
.com-2-panel.side { padding: 20px; }
.com-2-panel.side .com-2-panel-hd { margin-bottom: 20px; }
.com-2-panel.side .com-2-panel-title { font-size: 16px; line-height: 26px; font-weight: 500; color: rgb(51, 51, 51); }
@media (max-width: 768px) {
}
.com-2-side-activity { margin-bottom: 0px; }
.com-2-side-activity .com-media-object { padding-left: 20px; width: 60px; vertical-align: middle; }
.com-2-side-activity .com-media-body { vertical-align: middle; }
.com-2-side-activity-title { font-size: 14px; line-height: 24px; color: rgb(0, 0, 0); font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.com-2-side-activity-desc { margin-top: 4px; font-size: 14px; line-height: 24px; color: rgb(153, 153, 153); display: -webkit-box; -moz-box-orient: vertical; overflow: hidden; max-height: 48px; }
.com-2-side-activity:hover .com-2-side-activity-title { color: rgb(0, 164, 255); }
.com-2-side-activities > li { margin-bottom: 20px; }
.com-2-side-activities > li:last-child { border-bottom: medium none; margin-bottom: auto; }
.com-side-topic .com-media-object { padding-right: 12px; width: 60px; vertical-align: middle; }
.com-side-topic .com-thumbnail { width: 60px; height: 60px; }
.com-side-topic .com-media-body { vertical-align: middle; }
.com-side-topic-title { font-size: 14px; line-height: 24px; color: rgb(0, 0, 0); font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.com-side-topic:hover .com-side-topic-title { color: rgb(0, 164, 255); }
.com-side-topic-desc { margin-top: 4px; font-size: 14px; line-height: 24px; color: rgb(153, 153, 153); display: -webkit-box; -moz-box-orient: vertical; overflow: hidden; max-height: 48px; }
.com-2-side-topics.without-margin > li:last-child .com-side-topic { margin-bottom: 0px; }
@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 700px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 374px) {
}
