/* Code tidied up by ScrapBook */
body {  }
.col-body { box-sizing: border-box; margin: 30px auto 60px; padding: 0px 10px; max-width: 1200px; }
@media screen and (max-width: 1200px) {
}
.col-tags { margin: 30px -5px 0px; font-size: 0px; }
.col-tag { display: inline-block; vertical-align: middle; box-sizing: border-box; margin: 0px 5px 10px; padding: 0px 10px; height: 30px; max-width: 90%; font-size: 12px; line-height: 28px; border: 1px solid rgb(229, 229, 229); border-radius: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: rgb(0, 0, 0); }
.col-tag.actived, .col-tag:hover { border-color: rgb(0, 164, 255); color: rgb(0, 164, 255); }
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 1240px) {
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 1200px) {
}
@media screen� {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1136px) {
}
@keyframes com-carousel-item-actived {
0% { opacity: 0.1; }
100% { opacity: 1; }
}
@media screen and (max-width: 1200px) {
}
@keyframes playLoading {
0% { transform: rotate(0deg); }
100% { transform: rotate(1turn); }
}
@keyframes -webkit-playing {
0% { transform: scaleY(1); }
50% { transform: scaleY(0.125); }
100% { transform: scaleY(1); }
}
@keyframes playing {
0% { transform: scaleY(1); }
50% { transform: scaleY(0.125); }
100% { transform: scaleY(1); }
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1440px) {
}
@media (max-width: 1200px) {
}
@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1440px) {
}
@keyframes width {
0% { transform: scaleX(0); }
100% { transform: scaleX(1); }
}
@media screen and (max-width: 1440px) {
}
@media (max-width: 768px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 1440px) {
}
@media (min-width: 769px) {
}
@media (min-width: 601px) and (max-width: 768px) {
}
@media (max-width: 600px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
@media screen and (max-width: 1200px) {
}
.article-title { resize: none; }
.com-author-intro { text-align: center; }
.com-author-intro-object { margin-bottom: 20px; }
.com-author-intro-avatar { display: block; margin: 0px auto -11px; width: 80px; height: 80px; border-radius: 50%; background-position: 50% center; background-repeat: repeat; background-size: cover; background-color: rgb(209, 212, 219); box-sizing: border-box; border: 1px solid rgb(209, 212, 219); }
.com-author-intro-avatar:only-child { margin-bottom: 0px; }
.com-author-intro-name { margin-bottom: 8px; font-size: 16px; line-height: 26px; color: rgb(0, 0, 0); }
.com-author-intro-name-inner { font-weight: 500; display: inline-block; vertical-align: middle; max-width: 10em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: inherit; }
.com-author-intro-name-inner:hover { color: rgb(0, 164, 255); }
.com-author-intro-desc { position: relative; display: inline-block; vertical-align: middle; box-sizing: border-box; max-width: 100%; padding-right: 20px; font-size: 12px; line-height: 18px; color: rgb(153, 153, 153); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.com-author-intro-btns { margin-top: 20px; font-size: 0px; }
.com-author-intro-btns .c-btn { min-width: 88px; margin: 0px 5px; }
.com-author-intro-infos { margin-top: 28px; padding-top: 15px; border-top: 1px solid rgb(229, 229, 229); font-size: 0px; }
.com-author-intro-info { display: inline-block; vertical-align: top; width: 25%; text-align: center; font-size: 12px; line-height: 20px; color: rgb(153, 153, 153); padding-top: 5px; padding-bottom: 5px; }
.com-author-intro-info-link { display: block; color: inherit; margin: -5px 0px; padding: 5px 0px; }
.com-author-intro-info-link:hover { background-color: rgb(243, 245, 249); }
.com-author-intro-info-num { margin-top: 4px; font-size: 16px; line-height: 28px; height: 28px; font-weight: 500; }
@keyframes ani-leave-top {
0% { transform: translateY(25px) scale(0); opacity: 0; }
30% { transform: translateY(0px) scale(1); opacity: 1; }
100% { transform: translateY(-35px) scale(0); opacity: 0; }
}
.com-markdown-collpase-main { transition: all 0.3s ease-in-out 0s; }
.com-markdown-collpase-toggle { display: none; margin-top: -135px; position: relative; z-index: 2; padding-top: 111px; text-align: center; box-sizing: border-box; }
.com-markdown-collpase-toggle::before { content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-image: linear-gradient(180deg, rgba(237, 237, 237, 0), rgb(255, 255, 255) 65%); }
.com-markdown-collpase-toggle .toggle-link { position: relative; display: inline-block; vertical-align: middle; font-size: 14px; line-height: 24px; color: rgb(0, 164, 255); text-decoration: none; }
.com-markdown-collpase-toggle .toggle-link::after { content: ""; display: inline-block; vertical-align: 1px; margin-left: 4px; width: 10px; height: 6px; background-image: url("sprite.Column-202204081839.svg"); background-position: 22.9008% 31.3492%; background-size: 2720% auto; }
.com-markdown-collpase-toggle .toggle-link:hover { color: rgb(0, 164, 255); text-decoration: none; }
.pg-2-article { margin-top: 20px; }
.pg-2-article .com-3-layout > .layout-main, .pg-2-article .com-crumb { padding-left: 60px; }
.col-2-article { position: relative; overflow-wrap: break-word; }
.col-2-article-header { margin-bottom: 32px; padding-bottom: 20px; border-bottom: 1px solid rgb(229, 229, 229); }
.col-2-article-header .article-title { font-size: 28px; line-height: 48px; color: rgb(0, 0, 0); font-weight: 500; }
.col-2-article-header .article-infos-wrap { margin-top: 8px; position: relative; }
.col-2-article-header .article-infos { font-size: 0px; }
.col-2-article-header .article-info { display: inline-block; vertical-align: middle; margin-right: 28px; font-size: 12px; line-height: 20px; color: rgb(153, 153, 153); }
.col-2-article-header .article-infos-extra { position: absolute; right: 0px; top: 0px; line-height: 20px; }
.col-2-article-source { margin-top: 32px; font-size: 12px; line-height: 20px; color: rgb(153, 153, 153); }
.col-2-article-tags { position: relative; margin-top: 32px; }
.col-2-article-tags .col-tags { margin: 0px; }
.col-2-article-tags .col-tag { margin-left: 0px; margin-right: 10px; }
.col-2-article-tags .extra-part { position: absolute; right: 0px; top: 5px; }
.col-2-article-tags .com-operations { margin-top: 0px; }
.col-2-article-tags .com-operations .com-opt-link:last-child { margin-right: 0px; }
.col-2-article-opts { margin-top: 60px; text-align: center; font-size: 0px; }
.col-2-article-opts .c-btn { min-width: 180px; height: 44px; border-radius: 22px; font-size: 16px; line-height: 42px; margin: 0px 10px; }
.col-2-article-opts .opt-icon { position: relative; top: -1px; display: inline-block; vertical-align: middle; margin-right: 12px; width: 20px; height: 20px; }
.col-2-article-opts .opt-icon.like { top: -2px; width: 18px; height: 18px; background-image: url("sprite.Column-202204081839.svg"); background-position: 81.1024% 7.5%; background-size: 1511.11% auto; }
.col-2-article-opts .opt-icon.share { background-image: url("sprite.Column-202204081839.svg"); background-position: 56.746% 72.6891%; background-size: 1360% auto; }
.pg-2-article .group-comments { margin-top: 60px; padding-top: 28px; border-top: 1px solid rgb(229, 229, 229); }
.col-2-sticky-header .com-sticky-header-main { font-size: 0px; }
.col-2-sticky-header .author-media { display: inline-table; width: auto; margin-bottom: 0px; vertical-align: middle; }
.col-2-sticky-header .author-media .com-media-object { width: 40px; vertical-align: middle; }
.col-2-sticky-header .author-media-avatar { display: block; width: 40px; height: 40px; background-position: 50% center; background-size: cover; background-repeat: no-repeat; box-sizing: border-box; border: 1px solid rgb(209, 212, 219); background-color: rgb(209, 212, 219); border-radius: 50%; }
.col-2-sticky-header .author-media-name { font-size: 0px; }
.col-2-sticky-header .author-media-name-inner { display: inline-block; vertical-align: middle; font-size: 14px; line-height: 24px; color: rgb(0, 0, 0); font-weight: 500; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 8em; }
.col-2-sticky-header .author-media-name-inner:hover { color: rgb(0, 164, 255); }
.col-2-sticky-header .author-media-link { font-size: 12px; line-height: 20px; }
.col-2-sticky-header .author-media-link::after { vertical-align: 0px; width: 5px; height: 8px; background-image: url("sprite.Column-202204081839.svg"); background-position: 66.2921% 62.8%; background-size: 5440% auto; }
.col-2-sticky-header .author-media-link:hover::after { background-image: url("sprite.Column-202204081839.svg"); background-position: 64.4195% 62.8%; background-size: 5440% auto; }
.col-2-sticky-header .header-split { display: inline-block; vertical-align: middle; margin: 0px 20px 0px 15px; width: 1px; height: 30px; background-color: rgb(206, 206, 206); }
.col-2-sticky-header .header-title { display: inline-block; vertical-align: middle; font-size: 18px; line-height: 28px; color: rgb(0, 0, 0); font-weight: 500; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 26em; }
.col-2-sticky-header .com-sticky-header-extra .c-btn { margin-left: 12px; }
.pg-2-article .rno-markdown code { word-break: normal; overflow-wrap: break-word; }
.col-2-wechat-panel { box-sizing: border-box; padding: 16px; margin-top: 18px; background: transparent linear-gradient(270deg, rgba(0, 164, 255, 0.2) -27.8%, rgba(255, 255, 255, 0) 155.26%) repeat scroll 0% 0%; }
.col-2-wechat-panel .col-2-wechat-panel-inner { display: flex; align-items: center; justify-content: space-between; }
.col-2-wechat-panel .col-2-wechat-panel-left { flex-shrink: 0; }
.col-2-wechat-panel .col-2-wechat-panel-tip { font-size: 12px; line-height: 20px; color: rgb(153, 153, 153); }
.col-2-wechat-panel .col-2-wechat-panel-qr { margin-top: 8px; display: flex; align-items: center; }
.col-2-wechat-panel .col-2-wechat-panel-qr .qr-code { width: 90px; height: 90px; margin-right: 16px; }
.col-2-wechat-panel .col-2-wechat-panel-qr .qr-code img { width: 100%; height: 100%; }
.col-2-wechat-panel .col-2-wechat-panel-qr .qr-desc-info { max-width: 110px; }
.col-2-wechat-panel .col-2-wechat-panel-qr .qr-desc-text { display: inline; vertical-align: middle; font-size: 12px; line-height: 20px; color: rgb(51, 51, 51); }
.col-2-wechat-panel .col-2-wechat-panel-qr .qr-desc-btn { margin-top: 8px; height: 30px; line-height: 28px; font-size: 12px; padding: 0px 8px; }
.col-2-wechat-panel .col-2-wechat-panel-split { width: 1px; height: 97px; background: rgb(229, 229, 229) none repeat scroll 0% 0%; margin: 0px 8px; }
.col-2-wechat-panel .col-2-wechat-panel-right { flex-shrink: 0; }
.col-2-wechat-panel .col-2-wechat-panel-desc p { font-size: 14px; line-height: 24px; color: rgb(51, 51, 51); margin-bottom: 10px; }
.col-2-wechat-panel .col-2-wechat-panel-desc p a { color: rgb(0, 164, 255); }
