/* Code tidied up by ScrapBook */
@media screen and (max-width: 740px) {
  .hidden-phone { display: none ! important; }
}
@media screen and (min-width: 741px) and (max-width: 999px) {
  .hidden-tablet { display: none ! important; }
}
@media screen and (min-width: 741px) {
  .hidden-tablet-and-up { display: none ! important; }
}
@media screen and (max-width: 999px) {
  .hidden-pocket { display: none ! important; }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .hidden-lap { display: none ! important; }
}
@media screen and (min-width: 1000px) {
  .hidden-lap-and-up { display: none ! important; }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
@media not all {
}
@media not all {
}
@media print {
}
*, *::before, *::after { box-sizing: border-box ! important; }
html { font-family: sans-serif; }
body { margin: 0px; }
[hidden] { display: none; }
blockquote:first-child, ul:first-child, ol:first-child, p:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0px ! important; }
blockquote:last-child, ul:last-child, ol:last-child, p:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child { margin-bottom: 0px ! important; }
a { color: inherit; text-decoration: none; }
button, input, select, textarea { color: inherit; font: inherit; margin: 0px; text-align: inherit; }
button, [type="submit"] { padding: 0px; overflow: visible; background: transparent none repeat scroll 0% 0%; border: medium none; border-radius: 0px; cursor: pointer; -moz-appearance: none; touch-action: manipulation; }
img, video { height: auto; max-width: 100%; border-style: none; vertical-align: top; }
img:-moz-loading { visibility: hidden; }
iframe { border: 0px none; }
@supports (padding: max(0px)) {
  .pswp__dots-nav-wrapper { padding-bottom: max(20px,env(safe-area-inset-bottom,0px) + 20px); }
}
@media not all {
}
html { font-family: var(--text-font-family); font-weight: var(--text-font-weight); font-style: var(--text-font-style); font-size: calc(var(--base-font-size) - 1px); line-height: 1.71429; color: rgb(var(--text-color)); background: rgb(var(--background)); }
:lang(ar) * { letter-spacing: normal ! important; }
p strong, p b { font-weight: var(--text-font-bold-weight); }
.heading, .blockquote, .rte h1, .rte h2, .rte h3, .rte h4, .rte h5, .rte h6, .rte blockquote { display: block; font-family: var(--heading-font-family); font-weight: var(--heading-font-weight); font-style: var(--heading-font-style); color: rgb(var(--heading-color)); text-transform: var(--heading-text-transform); }
.text--xsmall { font-size: calc(var(--base-font-size) - 3px); line-height: 1.5; }
.text--subdued { color: rgba(var(--text-color),.7); }
.text--strong { font-weight: var(--text-font-bold-weight); }
p a:not(.button), .rte a:not(.button), .link { text-decoration-line: underline; text-decoration-style: solid; text-decoration-color: rgba(var(--text-color),.35); transition: text-decoration-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s, -webkit-text-decoration-color 0.2s ease-in-out 0s; }
@media not all {
  p a:hover:not(.button), .rte a:hover:not(.button), .link:hover { color: rgb(var(--text-color)); text-decoration-color: rgb(var(--text-color)); }
}
@media not all {
  @keyframes textUnderlinedAnimatedKeyframes {
0% { transform: scaleX(1); transform-origin: var(--transform-origin-end); }
50% { transform: scaleX(0); transform-origin: var(--transform-origin-end); }
51% { transform-origin: var(--transform-origin-start); }
100% { transform: scaleX(1); }
}
}
.visually-hidden { position: absolute ! important; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); height: 1px; width: 1px; margin: -1px; padding: 0px; border: 0px none; }
@media screen and (min-width: 741px) {
  html { font-size: var(--base-font-size); line-height: 1.73333; }
  .text--xsmall { font-size: calc(var(--base-font-size) - 2px); line-height: 1.53846; }
}
.heading:first-child { margin-top: 0px; }
.heading:last-child { margin-bottom: 0px; }
.heading--small, .heading--xsmall, .heading--xxsmall { font-family: var(--text-font-family); font-style: var(--text-font-style); text-transform: uppercase; font-weight: var(--text-font-bold-weight); line-height: 1.46636; letter-spacing: 1px; }
.heading--xsmall { font-size: var(--heading-xsmall-font-size); }
.h1, .rte h1 { font-size: var(--heading-h1-font-size); line-height: 1.11111; letter-spacing: -0.9px; }
.h2, .rte h2 { font-size: var(--heading-h2-font-size); line-height: 1.13333; letter-spacing: -0.6px; }
.h3, .rte h3 { font-size: var(--heading-h3-font-size); line-height: 1.15385; letter-spacing: -0.4px; }
.h6, .rte h6 { font-size: var(--heading-h6-font-size); line-height: 1.25; }
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) {
  .heading--xsmall { line-height: 1.46667; }
  .h1, .rte h1 { line-height: 1.04167; letter-spacing: -1px; }
  .h2, .rte h2 { line-height: 1.10526; letter-spacing: -1px; }
  .h3, .rte h3 { line-height: 1.0625; letter-spacing: -0.8px; }
  .h6, .rte h6 { line-height: 1.22222; }
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
  .h1, .rte h1 { line-height: 1.07143; letter-spacing: -1px; }
  .h2, .rte h2 { line-height: 1.08333; letter-spacing: -1px; }
  .h3, .rte h3 { line-height: 1.11111; letter-spacing: -0.8px; }
  .h6, .rte h6 { line-height: 1.22222; }
}
.text-container p:not(.heading) + p, .rte p:not(.heading) + p, .text-container p + form, .rte p + form { margin-top: 24px; }
.text-container .h1, .rte h1 { margin: 48px 0px 24px; }
.text-container .h2, .rte h2, .text-container .h3, .rte h3, .text-container .h4, .rte h4, .text-container .h5, .rte h5, .text-container .h6, .rte h6 { margin: 40px 0px 16px; }
.text-container img:not([style*="float"]), .rte img:not([style*="float"]) { display: block; margin: 34px 0px; }
@media screen and (min-width: 1000px) {
  .text-container .h1, .rte h1 { margin: 48px 0px 32px; }
  .text-container .h2, .rte h2, .text-container .h3, .rte h3, .text-container .h4, .rte h4 { margin: 48px 0px 24px; }
}
.rte > :first-child, .text-container > :first-child { margin-top: 0px; }
.rte > :last-child, .text-container > :last-child { margin-bottom: 0px; }
@media screen and (min-width: 741px) {
}
.shopify-section { color: rgb(var(--text-color)); }
.js .no-focus-outline *:focus { outline: medium none; }
@media screen and (max-width: 740px) {
}
.container, .shopify-policy__container.shopify-policy__container { width: 100%; max-width: var(--container-max-width); margin-left: auto; margin-right: auto; padding-left: var(--container-gutter); padding-right: var(--container-gutter); --container-outer-margin:  0px; }
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 1400px) {
}
[reveal] { opacity: 0; }
.skip-to-content:focus { clip: auto; width: auto; height: auto; margin: 0px; color: rgb(var(--text-color)); background-color: rgb(var(--background)); padding: 10px; opacity: 1; z-index: 10000; transition: none 0s ease 0s ; }
@media screen and (min-width: 741px) {
}
.anchor {  }
.icon { display: block; vertical-align: middle; background: transparent none repeat scroll 0% 0%; pointer-events: none; overflow: visible; }
.icon-text { display: flex; align-items: center; }
[dir="ltr"] .icon-text svg, [dir="ltr"] .icon-text img { margin-right: 12px; }
@supports (scale: 1) {
  [dir="rtl"] .icon--direction-aware {  }
}
@supports not (scale: 1) {
  [dir="rtl"] .icon--direction-aware { transform: scaleX(-1); }
}
.list--unstyled { list-style: outside none none; padding: 0px; margin: 0px; }
.loading-bar { position: fixed; top: 0px; left: 0px; height: 3px; width: 100%; opacity: 0; background: rgb(var(--loading-bar-background)); transform: scaleX(0); transform-origin: left center 0px; transition: transform 0.25s ease-in-out 0s; z-index: 50; pointer-events: none; }
.section { display: block; margin: var(--vertical-breather) 0; }
.section:empty { display: none; }
.section__color-wrapper { display: flow-root; background: rgb(var(--section-background, var(--background))); }
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 741px) {
}
.breadcrumb { z-index: 1; }
[dir="ltr"] .breadcrumb--floating { left: 0px; }
.breadcrumb--floating { position: absolute; top: 0px; }
.breadcrumb__list { display: inline-flex; list-style: outside none none; padding: 26px 0px; margin: 0px; }
.breadcrumb__item + .breadcrumb__item::before { content: "/"; margin: 0px 4px; opacity: 0.7; float: left; }
.breadcrumb__link { transition: opacity 0.2s ease-in-out 0s; }
.breadcrumb__link:not([aria-current="page"]):not(:hover) { opacity: 0.9; }
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
.animated-plus { position: relative; width: 10px; height: 10px; }
.animated-plus::before, .animated-plus::after { position: absolute; content: ""; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-90deg); background-color: currentcolor; transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s; }
.animated-plus::before { width: 10px; height: 2px; opacity: 1; }
.animated-plus::after { width: 2px; height: 10px; }
@supports (aspect-ratio: 1 / 1) {
  .aspect-ratio { padding-bottom: 0px ! important; }
  .aspect-ratio--natural img, .aspect-ratio--natural video, .aspect-ratio--natural svg { position: relative; width: auto; }
  .aspect-ratio--square {  }
  .aspect-ratio--short {  }
  .aspect-ratio--tall {  }
}
@media screen and (min-width: 1000px) {
}
@media screen and (max-width: 999px), not all {
}
.tap-area { position: relative; }
[dir="ltr"] .tap-area::before { right: -6px; }
[dir="ltr"] .tap-area::before { left: -6px; }
.tap-area::before { content: ""; position: absolute; top: -6px; bottom: -6px; }
[dir="ltr"] .tap-area--large::before { right: -10px; }
[dir="ltr"] .tap-area--large::before { left: -10px; }
.tap-area--large::before { top: -10px; bottom: -10px; }
@media screen and (max-width: 999px) {
}
.hide-scrollbar { scrollbar-width: none; overflow-x: auto; overflow-y: hidden; }
.square-separator { position: relative; display: inline-block; height: 4px; width: 4px; margin: 0px 8px; flex-shrink: 0; background: currentcolor none repeat scroll 0% 0%; vertical-align: middle; }
.square-separator--block { top: 1px; margin-left: 12px; margin-right: 12px; }
@keyframes prevNextButtonKeyframe {
0% { transform: translate(0) scaleX(var(--transform-logical-flip)); }
50% { transform: translate(calc(50% + 10px)) scaleX(var(--transform-logical-flip)); }
51% { transform: translate(calc(-50% - 10px)) scaleX(var(--transform-logical-flip)); }
100% { transform: translate(0) scaleX(var(--transform-logical-flip)); }
}
@media screen and (min-width: 741px) {
}
@media not all {
}
.dots-nav { display: flex; margin: -6px; justify-content: flex-start; flex-wrap: wrap; }
.dots-nav--centered { justify-content: center; }
.dots-nav__item { position: relative; width: 6px; height: 6px; margin: 6px; background: rgb(var(--text-color)); border-radius: min(var(--button-border-radius),6px); opacity: 0.3; transition: opacity 0.2s ease-in-out 0s; }
.dots-nav__item[aria-current="true"] { opacity: 1; }
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 741px) {
}
@media not all {
}
@media screen and (min-width: 741px) {
}
@supports (scale: 0) {
  .tabs-nav__position { transform: none; }
  .tabs-nav__position.is-initialized { transition: scale 0.2s ease-in-out 0s, translate 0.4s ease-in-out 0s; }
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1200px) {
}
@keyframes spinnerRotate {
100% { transform: rotate(360deg); }
}
@keyframes spinnerDash {
0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35; }
100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124; }
}
@keyframes spinnerColor {
0% { stroke: currentcolor; }
40% { stroke: currentcolor; }
66% { stroke: currentcolor; }
80%, 90% { stroke: currentcolor; }
}
.cart-notification { --heading-color:  255, 255, 255; --text-color:  255, 255, 255; --cart-notification-background:  rgb(var(--success-color)); display: block; position: absolute; top: 100%; width: 100%; transform: translateY(var(--cart-notification-offset, 0px)); color: rgb(var(--text-color)); transition: visibility 0.25s ease-in-out 0s, transform 0.25s ease-in-out 0s; visibility: visible; overflow: hidden; }
.cart-notification[hidden] { visibility: hidden; }
@media screen and (max-width: 740px) {
}
@media screen and (max-width: 999px) {
  .cart-notification { transform: none ! important; }
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1200px) {
}
.mobile-share-buttons__item { display: flex; align-items: center; padding-top: 20px; padding-bottom: 20px; margin-left: 24px; margin-right: 24px; }
@supports (padding: max(0px)) {
  .mobile-share-buttons { padding-bottom: max(20px,env(safe-area-inset-bottom) + 20px); }
}
.mobile-share-buttons__item:not(:last-child) { border-bottom: 1px solid rgb(var(--border-color)); }
[dir="ltr"] .mobile-share-buttons__item svg { margin-right: 16px; }
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) {
}
@media not all {
}
@media not all {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 741px) {
}
@media not all {
}
.button, .shopify-challenge__button, #shopify-product-reviews .spr-summary-actions-newreview, #shopify-product-reviews .spr-button { position: relative; display: inline-block; -moz-appearance: none; line-height: var(--button-height); padding: 0px 30px; text-align: center; text-decoration: none; border-radius: var(--button-border-radius); background: rgb(var(--button-background)); color: rgb(var(--button-text-color)); }
.button:not(.button--text), .shopify-challenge__button, #shopify-product-reviews .spr-summary-actions-newreview, #shopify-product-reviews .spr-button { font-size: calc(var(--base-font-size) - 3px); font-family: var(--text-font-family); font-weight: var(--text-font-bold-weight); text-transform: uppercase; letter-spacing: 1.3px; }
.button--primary, .shopify-challenge__button, #shopify-product-reviews .spr-summary-actions-newreview, #shopify-product-reviews .spr-button { --button-background:  var(--primary-button-background); --button-text-color:  var(--primary-button-text-color); }
.button--full { width: 100%; }
@media screen and (min-width: 741px) {
  .button:not(.button--text), .shopify-challenge__button, #shopify-product-reviews .spr-summary-actions-newreview, #shopify-product-reviews .spr-button { padding-left: 35px; padding-right: 35px; font-size: calc(var(--base-font-size) - 2px); letter-spacing: 2px; }
}
@media not all {
  .button, .shopify-challenge__button, #shopify-product-reviews .spr-summary-actions-newreview, #shopify-product-reviews .spr-button, .shopify-payment-button__button { background-image: linear-gradient(178deg,rgb(var(--button-background)),rgb(var(--button-background)) 10%,rgba(0,0,0,.07) 10%,rgba(0,0,0,.07) 100%),linear-gradient(rgb(var(--button-background)),rgb(var(--button-background))); background-size: 100% 200%, 100% 100%; background-position: 100% -100%, 100% 100%; background-repeat: no-repeat; transition: background-position 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; transform: translateZ(0px); }
  .button:hover, .shopify-challenge__button:hover, #shopify-product-reviews .spr-summary-actions-newreview:hover, #shopify-product-reviews .spr-button:hover, .shopify-payment-button__button:hover { background-position: 100% 25%, 100% 100%; }
  @supports (color: color-contrast(wheat vs black,white)) and (color: rgb(from wheat r g b / .07)) {
  .button, .shopify-challenge__button, #shopify-product-reviews .spr-summary-actions-newreview, #shopify-product-reviews .spr-button, .shopify-payment-button__button { --button-overlay-color:  rgb(from color-contrast(rgb(var(--button-background)) vs white, black) r g b / 7%); background-image: linear-gradient(178deg,rgb(var(--button-background)),rgb(var(--button-background)) 10%,var(--button-overlay-color) 10%,var(--button-overlay-color) 100%),linear-gradient(rgb(var(--button-background)),rgb(var(--button-background))); }
}
}
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) {
}
.collapsible { display: block; height: 0px; overflow: hidden; visibility: hidden; }
@media screen and (min-width: 741px) {
}
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1400px) {
}
[dir="ltr"] .drawer { right: 0px; }
[dir="ltr"] .drawer { text-align: left; }
.drawer { --heading-color:  var(--root-heading-color); --text-color:  var(--root-text-color); --background:  var(--root-background); --primary-button-background:  var(--root-primary-button-background); --primary-button-text-color:  var(--root-primary-button-text-color); --section-backgroundinitial; position: fixed; display: flex; flex-direction: column; top: 0px; width: 89vw; max-width: 400px; height: 100%; max-height: 100vh; background: rgb(var(--background)); color: rgb(var(--text-color)); z-index: 10; transform: translate(calc(var(--transform-logical-flip) * 100%)); visibility: hidden; font-size: 1rem; transition: transform 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0s, visibility 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0s; }
[dir="ltr"] .drawer--from-left { right: auto; }
[dir="ltr"] .drawer--from-left { left: 0px; }
.drawer--from-left { transform: translate(calc(var(--transform-logical-flip) * -100%)); }
[dir="ltr"] .drawer--from-left .drawer__overlay { left: 100%; }
[dir="ltr"] .drawer--from-left .drawer__overlay { right: auto; }
.drawer--large { max-width: 500px; }
[dir="ltr"] .drawer__overlay { right: 100%; }
.drawer__overlay { content: ""; position: fixed; top: 0px; height: 100vh; width: 100vw; background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0; visibility: hidden; transition: visibility 0.6s ease-in-out 0s, opacity 0.6s ease-in-out 0s; }
.drawer__header { position: relative; display: flex; align-items: center; flex-shrink: 0; padding-top: 20px; padding-bottom: 20px; height: var(--header-height-without-bottom-nav); max-height: 80px; border-bottom: 1px solid rgb(var(--root-border-color)); background: rgb(var(--root-background)); z-index: 1; }
.drawer__header--shadowed { height: auto; border-bottom: medium none; padding-bottom: 6px; }
[dir="ltr"] .drawer__header--shadowed::after { left: 0px; }
.drawer__header--shadowed::after { content: ""; position: absolute; top: 100%; width: 100%; height: 24px; background: linear-gradient(var(--root-background),rgba(var(--root-background),0)); z-index: 1; pointer-events: none; }
[dir="ltr"] .drawer__close-button { right: var(--container-gutter); }
.drawer__close-button { position: absolute; top: var(--container-gutter); }
.drawer__header .drawer__close-button { top: calc(50% - 7px); }
.drawer__close-button--block { position: relative; inset: auto ! important; }
.drawer__header, .drawer__content, .drawer__footer { padding-left: var(--container-gutter); padding-right: var(--container-gutter); }
.drawer__content { overflow-x: hidden; overflow-y: auto; flex-grow: 1; padding-bottom: 24px; }
.drawer__footer { margin-top: auto; padding-top: 20px; padding-bottom: 20px; z-index: 1; transform: translateZ(0px); }
@supports (padding: max(0px)) {
  .drawer__footer { padding-bottom: max(20px,env(safe-area-inset-bottom,0px) + 20px); }
}
.drawer__footer--bordered { box-shadow: 0 1px rgb(var(--root-border-color)) inset; }
.drawer__footer--no-top-padding { padding-top: 0px ! important; }
[dir="ltr"] .drawer__footer::before { left: 0px; }
.drawer__footer::before { content: ""; position: absolute; bottom: 100%; width: 100%; height: 24px; background: linear-gradient(rgba(var(--root-background),0),rgb(var(--root-background))); z-index: 1; pointer-events: none; }
@media screen and (min-width: 741px) {
  .drawer__header { padding-top: 24px; padding-bottom: 24px; max-height: 90px; }
  .drawer__footer:not(.drawer__footer--tight) { padding-top: var(--container-gutter); padding-bottom: var(--container-gutter); }
}
[dir="ltr"] .popover { text-align: left; }
.popover { --heading-color:  var(--root-heading-color); --text-color:  var(--root-text-color); --background:  var(--root-background); --primary-button-background:  var(--root-primary-button-background); --primary-button-text-color:  var(--root-primary-button-text-color); --section-background:  var(--root-background); display: block; position: fixed; z-index: 10; color: rgb(var(--text-color)); background: rgb(var(--background)); visibility: hidden; font-size: 1rem; transition: visibility 0.25s ease-in-out 0s; backface-visibility: hidden; }
.popover__overlay { position: absolute; content: ""; height: 100vh; width: 100%; bottom: calc(100% - 10px); left: 0px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0; visibility: hidden; transition: opacity 0.6s ease-in-out 0s, visibility 0.6s ease-in-out 0s; }
.popover__header { position: relative; display: flex; align-items: center; justify-content: center; flex-shrink: 0; padding: 10px 24px; min-height: 64px; border-bottom: 1px solid rgb(var(--root-border-color)); border-radius: 10px 10px 0px 0px; }
.popover__title { display: flex; justify-content: center; align-items: center; margin: 0px; }
[dir="ltr"] .popover__close-button { right: 24px; }
.popover__close-button { position: absolute; top: 24px; z-index: 1; }
@supports (padding: max(0px)) {
  .popover__content { padding-bottom: max(24px,env(safe-area-inset-bottom,0px) + 24px); }
}
@media screen and (max-width: 999px) {
  .popover { display: flex; flex-direction: column; bottom: 0px; left: 0px; width: 100vw; max-height: 75vh; border-radius: 10px 10px 0px 0px; transform: translateY(100%); transition: transform 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0s, visibility 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0s; touch-action: manipulation; }
  .popover__header, .popover__content { background: inherit; }
}
@media screen and (min-width: 1000px) {
  .popover { position: absolute; top: calc(100% + 18px); border: 1px solid rgb(var(--root-border-color)); z-index: 2; opacity: 0; transition: opacity 0.25s ease-in-out 0s, visibility 0.25s ease-in-out 0s; border-radius: min(var(--block-border-radius),4px); }
  [dir="ltr"] .popover::after, [dir="ltr"] .popover::before { right: 24px; }
  .popover::after, .popover::before { position: absolute; content: ""; bottom: 100%; width: 0px; height: 0px; border-style: solid; border-color: transparent transparent rgb(var(--root-background)) transparent; border-width: 8px; }
  [dir="ltr"] .popover::before { right: 23px; }
  .popover::before { border-color: transparent transparent rgb(var(--root-border-color)) transparent; border-width: 9px; }
  .popover__overlay, .popover__header { display: none; }
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) {
}
@media not all {
}
@media screen and (min-width: 741px) {
}
@media (min-aspect-ratio: 16/9) {
}
@media (max-aspect-ratio: 16/9) {
}
@supports not (aspect-ratio: 1) {
  .video-wrapper--native video { position: absolute; inset: 0px; }
  .video-wrapper--native::after { display: block; padding-bottom: calc(100% / var(--aspect-ratio)); }
}
@keyframes playButtonRipple {
0% { box-shadow: 0 0 0 0 rgb(var(--play-button-background)),0 0 0 0 rgb(var(--play-button-background)); }
100% { box-shadow: 0 0 0 9px rgba(var(--play-button-background),0),0 0 0 18px rgba(var(--play-button-background),0); }
}
@media screen and (min-width: 1000px) {
  @keyframes playButtonRipple {
0% { box-shadow: 0 0 0 0 rgb(var(--play-button-background)),0 0 0 0 rgb(var(--play-button-background)); }
100% { box-shadow: 0 0 0 17px rgba(var(--play-button-background),0),0 0 0 32px rgba(var(--play-button-background),0); }
}
}
@media screen and (max-width: 740px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 741px) and (max-width: 999px) {
}
@media screen and (min-width: 1000px) {
}
.announcement-bar { display: flex; justify-content: center; align-items: center; padding-left: 20px; padding-right: 20px; background: rgb(var(--section-background)); }
.announcement-bar--multiple { justify-content: space-between; }
@media screen and (max-width: 740px) {
  @supports (padding: max(0px)) {
  .announcement-bar__content-text-wrapper { padding-bottom: max(32px,env(safe-area-inset-bottom,0px) + 32px); }
}
}
@media screen and (min-width: 741px) {
}
.article__header { position: relative; display: block; background: rgb(var(--section-header-background)); }
.article__header-content { padding: 40px var(--container-gutter); margin-left: auto; margin-right: auto; color: rgb(var(--text-color)); }
.article__image-wrapper { overflow: hidden; }
@media screen and (min-width: 1000px) {
  .article__header { display: flex; flex-direction: row-reverse; align-items: center; }
  .article__header-content { padding-top: 72px; padding-bottom: 72px; }
  [dir="ltr"] .article__header .breadcrumb { left: var(--container-outer-margin); }
  .article__image-wrapper { flex: 0 0 auto; align-self: stretch; }
  .article__image-wrapper--square { width: 50%; }
  .article__image { width: 100%; height: 100%; object-fit: cover; object-position: center center; }
  .article__header-content:only-child { padding-left: 0px; padding-right: 0px; max-width: 668px; text-align: center; }
}
@media screen and (min-width: 1400px) {
  [dir="ltr"] .article__header-content { padding-left: calc(var(--container-outer-margin) + var(--grid-column-width) + var(--grid-gap)); }
  [dir="ltr"] .article__header-content { padding-right: 70px; }
}
.article__nav { position: fixed; display: block; width: 100%; top: auto; bottom: 0px; border-bottom: 1px solid rgb(var(--border-color)); background: rgb(var(--background)); z-index: 1; transform: translateY(-100%); opacity: 0; visibility: hidden; transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s; }
[dir="ltr"] .article__nav::after { left: 0px; }
.article__nav::after { position: absolute; content: ""; bottom: 0px; height: 2px; width: 100%; transform-origin: var(--transform-origin-start); transform: scaleX(var(--transform)); background: currentcolor none repeat scroll 0% 0%; box-shadow: 0px 1px currentcolor; }
.article__nav-wrapper { position: relative; display: flex; align-items: center; padding: 18px 0px; }
.article__nav-item { display: flex; align-items: center; }
.article__nav-item-title { max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; min-width: 0px; }
[dir="ltr"] .article__nav-item-label { margin-right: 10px; }
[dir="ltr"] .article__nav-item--next .article__nav-arrow { margin-left: 20px; }
[dir="rtl"] .article__nav-item--next .article__nav-arrow, [dir="ltr"] .article__nav-item--prev .article__nav-arrow { margin-right: 20px; }
.article__reading-time { flex-shrink: 0; }
@media screen and (max-width: 740px) {
  .article__nav-item { width: 100%; justify-content: center; transition: transform 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s, visibility 0.2s ease-in-out 0s; will-change: transform; }
  [dir="ltr"] .article__nav-item--next { left: 0px; }
  .article__nav-item--next { position: absolute; align-items: baseline; opacity: 0; transform: translateY(-6px); visibility: hidden; transition-delay: 0s; }
  .article__nav-item--current { transition-delay: 0.15s; }
  [dir="ltr"] .article__nav-arrow { margin-left: auto; }
  .article__nav-arrow { align-self: center; }
}
@media screen and (min-width: 741px) {
  .article__nav-wrapper { justify-content: center; }
  .article__nav-item--prev, .article__nav-item--next { position: absolute; }
  [dir="ltr"] .article__nav-item--prev { left: 0px; }
  [dir="rtl"] .article__nav-item--prev, [dir="ltr"] .article__nav-item--next { right: 0px; }
  .article__nav-item-title { max-width: 225px; }
  .article__nav-item--prev .article__nav-item-title, .article__nav-item--next .article__nav-item-title { opacity: 0; transform: translateY(-6px); transition: transform 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s; will-change: transform; }
  .article__nav-item:hover .article__nav-item-title, .article__nav-item:focus .article__nav-item-title { opacity: 1; transform: translateY(0px); }
}
@media screen and (min-width: 1000px) {
  .article__nav-wrapper { padding: 27px 0px; }
}
@media screen and (min-width: 1200px) {
  .article__nav-item-title { max-width: 300px; }
}
.article { margin: 40px 0px; }
.article__inner { position: relative; display: flex; justify-content: center; flex-direction: column-reverse; }
.article__info { display: grid; gap: 14px; margin-top: 40px; padding-top: 24px; border-top: 1px solid rgb(var(--border-color)); width: 100%; }
.article__meta-item + .article__meta-item::before { display: inline-block; content: ""; width: 4px; height: 4px; margin-left: 12px; margin-right: 12px; vertical-align: 2px; background: rgb(var(--text-color)); }
.article__share { display: flex; align-items: center; width: max-content; }
.article__info { max-width: max-content; }
[dir="ltr"] .article__share-button-list { margin-left: 15px; }
.article__share-button-list { display: grid; grid-auto-flow: column; justify-content: flex-start; align-items: center; gap: 26px; list-style: outside none none; padding: 0px; }
.article__content::after { content: ""; display: block; margin-top: 40px; width: 8px; height: 8px; background: rgb(var(--text-color)); }
.article__comments-count { display: inline-flex; vertical-align: top; }
[dir="ltr"] .article__comments-count svg { margin-right: 8px; }
.article__comments-count svg { position: relative; top: 1px; }
@media screen and (min-width: 1000px) {
  .article { margin-top: 80px; margin-bottom: 80px; }
  .article__inner { align-items: center; }
  .article__content, .article__info { max-width: 668px; flex-grow: 1; }
}
@media screen and (min-width: 1200px) {
  .article__inner { flex-direction: column; min-height: 200px; }
  [dir="ltr"] .article__info { left: 0px; }
  .article__info { position: absolute; top: 0px; width: 170px; margin-top: 0px; padding-top: 30px; gap: 28px; }
  .article__meta { display: grid; gap: 8px; justify-content: flex-start; }
  .article__meta-item::before { display: none ! important; }
  .article__share, .article__tags { display: block; }
  .article__share-label { display: block; margin-bottom: 16px; }
  [dir="ltr"] .article__share-button-list { margin-left: 6px; }
  .article__content::after { width: 10px; height: 10px; margin-top: 48px; }
}
@media screen and (min-width: 1400px) {
  .article__inner { margin-left: calc(var(--grid-column-width) + var(--grid-gap)); margin-right: calc(var(--grid-column-width) + var(--grid-gap)); }
  .article__info { width: 185px; }
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 741px) and (max-width: 999px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media not all {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (max-width: 740px) {
  @supports (padding: max(0px)) {
  .mini-cart__order-note { padding-bottom: max(24px,env(safe-area-inset-bottom,0px) + 24px); }
}
}
@media screen and (min-width: 741px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 740px) {
  @supports (padding: max(0px)) {
  .cookie-bar { bottom: max(24px,env(safe-area-inset-bottom,0px) + 24px); }
}
}
@media screen and (min-width: 741px) {
}
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1400px) {
}
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) and (max-width: 999px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media not all {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
@media screen and (min-width: 741px) {
}
.header { display: block; background: rgb(var(--header-background)); color: rgb(var(--header-text-color)); transition: background 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s; }
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
.mobile-nav__item { display: flow-root; }
.mobile-nav__item:not(:last-child) { border-bottom: 1px solid rgba(var(--text-color),.15); }
.mobile-nav__link { display: flex; align-items: center; justify-content: space-between; width: 100%; margin: 0px; padding: 21px 0px; }
.mobile-nav__image-heading { margin-bottom: 7px; }
.mobile-nav__image-text { display: block; }
.mobile-nav .collapsible { margin-left: calc(-1 * var(--container-gutter)); margin-right: calc(-1 * var(--container-gutter)); }
[dir="ltr"] .mobile-nav .mobile-nav { padding-left: 8px; }
.mobile-nav .mobile-nav { margin-left: var(--container-gutter); margin-right: var(--container-gutter); margin-bottom: 24px ! important; }
.mobile-nav .mobile-nav .mobile-nav__item { margin-bottom: 15px; border: medium none; }
.mobile-nav .mobile-nav .mobile-nav__link { padding: 0px; }
[dir="ltr"] .mobile-nav .mobile-nav .mobile-nav { border-left: 1px solid rgba(var(--text-color),.15); }
[dir="ltr"] .mobile-nav .mobile-nav .mobile-nav { padding-left: 20px; }
.mobile-nav .mobile-nav .mobile-nav { margin-top: 16px ! important; margin-bottom: 10px ! important; }
.mobile-nav .mobile-nav .mobile-nav .mobile-nav__item { margin-bottom: 14px; }
.mobile-nav .mobile-nav .mobile-nav .mobile-nav__item:last-child { margin-bottom: 0px; }
[dir="ltr"] .mobile-nav + .mobile-nav__images-wrapper { padding-left: 8px; }
.mobile-nav__images-scroller { display: grid; gap: 12px; grid-auto-flow: column; margin-bottom: 32px; padding-left: var(--container-gutter); padding-right: var(--container-gutter); width: -moz-fit-content; }
.mobile-nav__image-push { min-width: 120px; max-width: 134px; text-align: center; }
.mobile-nav__image { display: block; margin-bottom: 14px; border-radius: min(var(--block-border-radius),4px); }
.mobile-nav__footer { display: flex; justify-content: space-between; }
@keyframes navigationItemAnimation {
0% { transform: scaleX(0); }
100% { transform: scaleX(1); }
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 741px) and (max-width: 999px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 741px) and (max-width: 999px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 741px) and (max-width: 999px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) and (max-width: 999px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media not all {
}
@media not all {
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) and (max-width: 999px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@supports (--css: variables) {
  .password__main { min-height: var(--window-height, 100vh); }
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
.predictive-search__form { display: flex; align-items: center; }
[dir="ltr"] .predictive-search__input { margin-left: 8px; }
.predictive-search__input { padding: 0px; min-width: 300px; background: transparent none repeat scroll 0% 0%; box-shadow: none; border: medium none; -moz-appearance: none; }
.predictive-search__input::placeholder { color: rgba(var(--text-color),.7); transition: color 0.2s ease-in-out 0s; }
@media not all {
}
@media not all {
}
@supports (-webkit-touch-callout: none) {
  @media screen and (max-width: 740px) {
  .predictive-search .drawer__content--center { margin-top: 150px; }
}
}
@media screen and (min-width: 741px) {
  [dir="ltr"] .predictive-search__input { margin-left: 12px; }
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1400px) {
}
@media not all {
}
@media screen and (min-width: 1000px) {
}
@media not all {
}
@media screen and (min-width: 741px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 741px) and (max-width: 999px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 740px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) and (max-width: 999px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 1000px) {
  @supports (height: min(1px,2px)) {
  .product-sticky-form__variants .select { min-width: min(max(var(--largest-option-width),150px),300px); }
}
}
@media screen and (min-width: 741px) {
}
@media screen and (max-width: 740px) {
}
@media not all {
}
@media not all {
}
@media not all {
}
@media screen and (min-width: 1000px) {
}
@media screen and (max-width: 740px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 741px) and (max-width: 999px) {
}
@media screen and (min-width: 1000px) {
  @supports (width: max(1px,2px)) {
  .product-list { --item-width:  calc((min(100vw - var(--container-gutter) * 2, var(--container-max-width-minus-gutters)) - 56px) / var(--section-products-per-row) - (var(--grid-gap) / var(--section-products-per-row) * (var(--section-products-per-row) - 1))); }
}
}
@media not all {
}
@media not all {
}
@media screen and (max-width: 740px) {
}
@media screen and (min-width: 741px) and (max-width: 999px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
@media screen and (min-width: 741px) {
}
@keyframes shopTheLookDotKeyframe {
0% { opacity: 1; transform: scale(0.4); }
100% { opacity: 0; transform: scale(1.3); }
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 741px) {
}
@supports (width: max(1px,2px)) {
  .slideshow__text-wrapper--top { padding-top: max(var(--vertical-breather),calc((var(--header-height) + 25px) * var(--enable-transparent-header))); }
}
@media screen and (min-width: 1000px) {
  @supports (width: max(1px,2px)) {
  .slideshow__text-wrapper--top { padding-top: max(var(--vertical-breather),calc((var(--header-height) + 40px) * var(--enable-transparent-header))); }
}
}
@keyframes slideshowProgressBarAnimation {
0% { transform: scaleX(0); }
100% { transform: scaleX(1); }
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 741px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
.text-with-icons { display: block; }
.text-with-icons__dots { margin-top: 26px; }
@media screen and (min-width: 1000px) {
}
@media screen and (max-width: 999px) {
}
@media screen and (min-width: 741px) and (max-width: 999px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1400px) {
}
@media screen and (min-width: 741px) and (max-width: 999px) {
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 1199px) {
  .nav-sale { color: rgb(239, 65, 33); }
}
a.button.post { background: rgb(239, 65, 32) none repeat scroll 0% 0%; color: rgb(255, 255, 255); transition: all 0.3s ease 0s; }
a.button.post:hover { opacity: 0.8; }
@media screen and (max-width: 769px) {
}
@media screen and (max-width: 380px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (min-width: 1199px) {
}
@media screen and (min-width: 1025px) {
  .dek-remove { display: none; }
  .announcement-bar { padding: 0px; }
  .announcement-bar svg { color: rgb(var(--icon-color)); fill: rgb(var(--icon-color)); max-height: 20px; width: 20px; }
}
@media screen and (min-width: 1024px) and (max-width: 1400px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 350px) {
}
