/* Code tidied up by ScrapBook */
@font-face {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  src: url("iconfont.eot") format("embedded-opentype"), url("iconfont.ttf") format("truetype"), url("iconfont.woff") format("woff"), url("iconfont.svg") format("svg");
}
[class^="iconfont-"], [class*=" iconfont-"] { font-family: "iconfont" ! important; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; }
.iconfont-Instapaper::before { content: ""; }
.iconfont-app-store::before { content: ""; }
.iconfont-close::before { content: ""; }
.iconfont-collect::before { content: ""; }
.iconfont-column::before { content: ""; }
.iconfont-comment::before { content: ""; }
.iconfont-community::before { content: ""; }
.iconfont-delete::before { content: ""; }
.iconfont-like::before { content: ""; }
.iconfont-logo-simple::before { content: ""; }
.iconfont-mall::before { content: ""; }
.iconfont-matrix::before { content: ""; }
.iconfont-menu::before { content: ""; }
.iconfont-more::before { content: ""; }
.iconfont-new::before { content: ""; }
.iconfont-otter::before { content: ""; }
.iconfont-phone::before { content: ""; }
.iconfont-pocket::before { content: ""; }
.iconfont-power::before { content: ""; }
.iconfont-read::before { content: ""; }
.iconfont-rss-simple::before { content: ""; }
.iconfont-search::before { content: ""; }
.iconfont-series::before { content: ""; }
.iconfont-share::before { content: ""; }
.iconfont-sort::before { content: ""; }
.iconfont-speak::before { content: ""; }
.iconfont-special::before { content: ""; }
.iconfont-tao::before { content: ""; }
.iconfont-top::before { content: ""; }
.iconfont-topic1::before { content: ""; }
.iconfont-topics::before { content: ""; }
.iconfont-topology::before { content: ""; }
.iconfont-tron::before { content: ""; }
.iconfont-vote::before { content: ""; }
.iconfont-wechat-simple::before { content: ""; }
.iconfont-weibo-simple::before { content: ""; }
.iconfont-write::before { content: ""; }
.iconfont-youzan::before { content: ""; }
