/* Code tidied up by ScrapBook */
@font-face {
  font-family: "sspai_community_icon";
  font-style: normal;
  font-weight: normal;
  src: url("sspai_community_icon.eot") format("embedded-opentype"), url("sspai_community_icon.ttf") format("truetype"), url("sspai_community_icon.woff") format("woff"), url("sspai_community_icon.svg") format("svg");
}
