/* Effective stylesheet produced by snapshot save */
@keyframes fade-in {
  100% { opacity: 1; }
}
@keyframes fade-in {
  100% { opacity: 1; }
}
@keyframes fade-in {
  100% { opacity: 1; }
}
@keyframes fade-in {
  100% { opacity: 1; }
}
@keyframes fade-in {
  100% { opacity: 1; }
}
@keyframes fade-in {
  100% { opacity: 1; }
}
.porvata-outstream.porvata3::before { content: attr(data-label); display: block; font-size: 0.625rem; font-weight: 700; line-height: 0.75rem; margin: 0px; padding-bottom: 6px; padding-top: 6px; text-align: center; text-transform: uppercase; }
.uap-light:not(.uap-sticked) .ad-slot-placeholder.top-leaderboard { clip: rect(0px, auto, auto, 0px); }
.out-of-page-template { position: fixed; width: 100%; }
.out-of-page-template, .out-of-page-template > .button-close { align-items: center; display: flex; justify-content: center; z-index: 5000101; }
.floor-adhesion { background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; bottom: 0px; left: 0px; }
.gpt-ad { text-align: center; }
.gpt-ad.hide, .gpt-ad .hide { display: none !important; }
.ad-slot.hide { display: none !important; }
.article-content p + .ad-slot:not(.a9-ad) { margin: 3rem -1.5rem; }
.article-content :not(.ad-slot-placeholder) > .ad-slot.slot-responsive { margin: 0px 0px 1.125rem; }
.article-content :not(.ad-slot-placeholder) > .ad-slot.incontent-boxad { margin: 0.75rem 0px; }
.article-content :not(.ad-slot-placeholder) > .ad-slot.incontent-boxad:not(.a9-ad) { margin: 0.75rem -1.5rem 3rem; }
#floor_adhesion_anchor.out-of-page-template { background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; bottom: 0px; left: 0px; padding: 20px 0px; }
#floor_adhesion_anchor.out-of-page-template .button-close::after { content: ""; position: absolute; width: 45px; height: 45px; }
.ad-slot-placeholder { position: relative; padding: 18px 0px 24px; }
.ad-slot-placeholder .ae-translatable-label { bottom: 0px; display: block; color: rgb(133, 133, 133); font-size: 10px; font-weight: 500; left: 0px; line-height: 24px; position: absolute; text-align: center; text-transform: uppercase; width: 100%; }
.ad-slot-placeholder .porvata-outstream.porvata3::before { display: none; }
.ad-slot-placeholder.is-loading .ae-translatable-label { background-color: var(--theme-page-background-color); }
.ad-slot-placeholder.hide, .ad-slot-placeholder .hide, body.bab-detected .top-ads-container, body.bab-detected .ad-slot-placeholder { display: none; }
@keyframes fade-in {
  100% { opacity: 1; }
}
