/* Code tidied up by ScrapBook */
body { margin: 0px; }
.context-uhf { font-family: sans-serif; }
@font-face {
  font-family: "MWF-MDL2";
  src: url("mwfmdl2-v3.54.woff") format("woff"), url("mwfmdl2-v3.54.ttf") format("truetype"), url("mwfmdl2-v3.54.svg") format("svg");
}
@font-face {
  font-family: "SegoeUI";
  font-weight: 400;
  src: local("Segoe UI"), url("latest.woff2") format("woff2"), url("latest.woff") format("woff"), url("latest.ttf") format("ttf");
}
@font-face {
  font-family: "SegoeUI";
  font-weight: 100;
  src: local("Segoe UI"), url("latest_001.woff2") format("woff2"), url("latest_001.woff") format("woff"), url("latest_001.ttf") format("ttf");
}
@font-face {
  font-family: "SegoeUI";
  font-weight: 200;
  src: local("Segoe UI"), url("latest_003.woff2") format("woff2"), url("latest_002.woff") format("woff"), url("latest_002.ttf") format("ttf");
}
@font-face {
  font-family: "SegoeUI";
  font-weight: 600;
  src: local("Segoe UI"), url("latest_002.woff2") format("woff2"), url("latest_003.woff") format("woff"), url("latest_003.ttf") format("ttf");
}
@font-face {
  font-family: "SegoeUI";
  font-weight: 700;
  src: local("Segoe UI"), url("latest_004.woff2") format("woff2"), url("latest_004.woff") format("woff"), url("latest_004.ttf") format("ttf");
}
@media (max-width: 767px) {
}
.context-uhf { box-sizing: border-box; }
.context-uhf { font-size: 15px; font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif; min-width: 320px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
@keyframes fadeIn {
0% { opacity: 0; }
1% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeOut {
0% { opacity: 1; }
1% { opacity: 1; }
100% { opacity: 0; }
}
@media all and (max-width: 539px) {
}
@media all and (min-width: 540px) and (max-width: 767px) {
}
@media all and (min-width: 768px) and (max-width: 1083px) {
}
@media all and (min-width: 1084px) and (max-width: 1399px) {
}
@media all and (min-width: 1400px) {
}
@media only screen and (max-width: 539px) {
}
@media only screen and (min-width: 320px) {
}
@media only screen and (min-width: 540px) {
}
@media not all {
}
@media not all {
}
@media not all {
}
@media not all {
}
@media not all {
}
@media not all {
}
@media not all {
}
@media not all {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (min-width: 768px) {
}
a.m-skip-to-main { left: -999px; position: absolute; top: auto; width: 1px; height: 1px; overflow: hidden; z-index: -2; }
a.m-skip-to-main:hover { left: -999px; position: absolute; top: auto; width: 1px; height: 1px; overflow: hidden; z-index: -2; }
a.m-skip-to-main:focus, a.m-skip-to-main:active { background: rgb(230, 230, 230) none repeat scroll 0% 0%; color: rgb(0, 103, 184); position: fixed; top: 0px; left: 0px; padding: 24px; width: auto; height: auto; overflow: auto; right: 0px; text-decoration: underline; text-align: center; z-index: 800; outline: medium none; }
a.m-skip-to-main:focus { border: 1px dashed rgb(0, 0, 0); }
@media screen and (min-width: 320px) {
}
@media screen and (min-width: 540px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
.context-uhf { min-width: 280px; }
@media not all {
}
.m-skip-to-main { cursor: pointer; }
.c-uhfh { margin-top: 0px; }
@media not all, not all {
}
@media only screen and (min-width: 860px) {
}
@media only screen and (min-width: 860px) and (max-width: 1399px) {
}
@media only screen and (max-width: 859px) {
  .c-uhfh.c-sgl-stck.c-category-header { margin-bottom: 34px; }
}
@media only screen and (max-width: 1399px) {
}
@media only screen and (min-width: 860px) and (max-width: 1083px) {
}
@media only screen and (min-width: 860px) and (max-width: 1399px) {
}
@media only screen and (max-width: 1399px) {
}
@media only screen and (max-width: 859px) {
}
@media only screen and (min-width: 860px) and (max-width: 1083px) {
}
@media (min-width: 1083px) {
}
@media (min-width: 1084px) {
}
@keyframes slideup {
0% { height: 50px; }
100% { height: 0px; }
}
@keyframes slidedown {
0% { height: 0px; }
100% { height: 54px; }
}
@media screen and (min-width: 860px) {
}
@media only screen and (min-width: 860px) and (min-width: 615px) and (max-width: 819px) {
}
@media only screen and (min-width: 860px) and (min-width: 820px) and (max-width: 1024px) {
}
@media only screen and (min-width: 860px) and (min-width: 1025px) and (max-width: 1229px) {
}
@media only screen and (min-width: 860px) and (min-width: 1230px) {
}
@media only screen and (min-width: 860px) and (min-width: 1230px) and (max-width: 1300px) {
}
@media screen and (min-width: 860px) {
}
@media only screen and (min-width: 860px) and (min-width: 1400px) and (max-width: 1778px) {
}
@media only screen and (min-width: 860px) and (min-width: 1779px) {
}
@media screen and (min-width: 860px) {
}
@media only screen and (min-width: 1400px) {
}
@media only screen and (min-width: 1779px) {
}
@media only screen and (min-width: 1084px) and (max-width: 1399px) {
}
@media only screen and (max-width: 939px) and (min-width: 859px) {
}
.c-uhff { background: rgb(242, 242, 242) none repeat scroll 0% 0%; margin-top: 48px; }
@media only screen and (max-width: 1083px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 539px) {
}
@supports (-ms-ime-align:auto) {
  a.c-uhff-link { display: inline-block; }
}
