/* Code tidied up by ScrapBook */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
.clearfix::before { content: " "; display: table; }
.clearfix::after { content: " "; display: table; clear: both; }
@media only screen and (min-width: 520px) {
}
@font-face {
  font-family: "base-complex";
  font-style: normal;
  font-weight: 300;
  src: local("Helvetica-Light"), local("Arial");
}
@font-face {
  font-family: "base-complex";
  font-style: normal;
  font-weight: 400;
  src: local("Helvetica"), local("Arial");
}
@font-face {
  font-family: "base-complex";
  font-style: normal;
  font-weight: 700;
  src: local("Helvetica-Bold"), local("Arial-Bold");
}
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 16px; font-family: base-complex,sans-serif; }
body, h1, h2, h3, h4, h5, h6 { color: rgb(0, 0, 0); }
a { text-decoration: none; cursor: pointer; }
em { font-style: italic; }
button:focus, input:focus { outline: medium none; }
* {  }
.base__header-ad { position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: center; }
.base__footer-ad, .base__main { position: relative; }
.main-body__content { position: relative; box-sizing: border-box; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.main-container { position: relative; width: 100%; margin: 0px auto; padding-left: 0px; padding-right: 0px; z-index: 3; max-width: 1400px; }
@media only screen and (min-width: 360px) {
}
@media only screen and (min-width: 900px) {
  .main-body__content { min-height: 800px; }
}
@media (min-width: 1024px) {
}
@media (min-width: 520px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 520px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 520px) {
}
@media screen and (max-width: 879px) {
}
@media screen and (max-width: 420px) {
}
@media screen and (min-width: 880px) {
}
@media only screen and (min-width: 520px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1025px) {
}
.main-body__content .ad-units, .main-body__content .adUnits, .main-body__content .suitcase-ad, .main-body__content .teads-inread { position: relative; max-width: 680px ! important; margin-left: auto; margin-right: auto; }
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 899px) {
}
.cmn_head_styles:not(:empty) { padding: 20px 0px; }
@media only screen and (min-width: 1280px) {
  .cmn_head_styles:not(:empty) { padding: 30px 0px; }
}
@keyframes pulsing-bubbles {
0%, 100% { transform: scale(0); }
50% { transform: scale(1); }
}
@keyframes pulsate {
0% { transform: scale(0.05); opacity: 0; }
50% { opacity: 1; }
100% { transform: scale(0.9); opacity: 0; }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 375px) {
}
@media only screen and (min-width: 520px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 520px) {
}
@media only screen and (min-width: 360px) {
}
@media only screen and (min-width: 520px) {
}
@media only screen and (min-width: 1024px) {
}
.lead-carousel { position: relative; }
.lead-carousel__media-container { position: relative; max-width: 100%; }
.lead-carousel__placeholder { position: absolute; top: 50%; left: 50%; height: 40px; width: 40px; margin-top: -20px; margin-left: -20px; opacity: 0.15; }
.lead-carousel__media { position: relative; text-align: center; }
.lead-carousel__media__img, .lead-carousel__media video { margin-top: 0px; margin-bottom: 0px; width: 100%; height: auto; display: block; }
.lead-carousel__caption { padding: 8px 10px 5px; font: italic 10px neue-haas-unica,sans-serif; color: rgb(155, 155, 155); text-align: left; }
@media only screen and (min-width: 360px) {
  .lead-carousel__caption { padding: 15px; }
}
@media only screen and (min-width: 1400px) {
  .lead-carousel__caption { padding-left: 0px; }
}
.info-row-author { font-family: neue-haas-unica,sans-serif; font-weight: 500; font-size: 10px; line-height: 1.3; }
.info-row-author .type { color: rgb(0, 0, 0); text-transform: uppercase; }
.info-row-author .mini-author { display: flex; height: auto; }
.info-row-author .mini-author__name-bio { height: auto; flex: 1 1 0%; min-width: 0px; }
.info-row-author .mini-author__bio, .info-row-author .mini-author__name { font-family: neue-haas-unica,sans-serif; height: auto; line-height: 1.3; font-size: 10px; padding: 1px 0px; }
.info-row-author .mini-author__bio .attribution, .info-row-author .mini-author__name .attribution { color: rgb(50, 123, 191); display: inline-block; }
.info-row-author .mini-author__bio .attribution:hover, .info-row-author .mini-author__name .attribution:hover { color: rgb(0, 0, 0); text-decoration: underline; }
.info-row-author .mini-author__name { font-weight: 500; text-transform: uppercase; color: rgb(74, 74, 74); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.info-row-author .mini-author__name .type { color: rgb(0, 0, 0); margin-right: 3px; }
.info-row-author .mini-author__bio { font-weight: 400; color: rgb(74, 74, 74); }
.info-row-author .mini-author__bio p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
@media only screen and (min-width: 520px) {
  .featured-story .mini-author__bio p, .info-row-author, .info-row-author .mini-author__bio, .info-row-author .mini-author__name { font-size: 12px; }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 520px) {
}
@media only screen and (min-width: 768px) {
}
.social-follow-buttons--bottom { max-width: 680px; margin: 0px auto; }
.social-follow-buttons .share-this { font-family: neue-haas-unica,sans-serif; font-weight: 800; font-size: 12px; text-transform: uppercase; text-align: center; color: rgb(0, 0, 0); margin-bottom: 20px; }
.social-follow-buttons__list { display: flex; position: relative; padding: 0px; margin: 0px; flex-direction: row; justify-content: center; align-items: center; }
.social-follow-buttons__list li:not(:last-child) { margin-right: 15px; display: inline-block; }
.social-follow-buttons__button { display: inline-block; }
.social-follow-buttons__button svg { border-radius: 3px; pointer-events: none; display: block; }
.social-follow-buttons__button:hover { opacity: 0.75; }
.social-follow-buttons .__react_component_tooltip { transition: opacity 0.2s ease-in-out 0s ! important; opacity: 0 ! important; }
.social-follow-buttons .__react_component_tooltip::after { border: medium none; }
.social-follow-buttons .tooltip { display: flex; width: 50px; }
.social-follow-buttons .comment-button { display: flex; right: 0px; top: 0px; justify-content: center; align-items: center; background-color: rgb(255, 255, 255); color: rgb(2, 125, 175); border: 2px solid rgb(2, 125, 175); font-family: neue-haas-unica,sans-serif; font-size: 12px; font-weight: 900; line-height: 0.83; width: 50px; height: 34px; border-radius: 3px; }
.social-follow-buttons .comment-button svg {  }
.social-follow-buttons .comment-button svg .st0 { display: none; }
.social-follow-buttons .comment-button svg .st1 { display: inline; }
.social-follow-buttons .comment-button:hover { cursor: pointer; color: rgb(255, 255, 255); background-color: rgb(2, 125, 175); border: medium none; }
.social-follow-buttons .comment-button:hover svg { fill: rgb(255, 255, 255); }
.social-follow-buttons .comment-button-container { display: flex; align-self: flex-start; }
@media only screen and (min-width: 767px) {
  .social-follow-buttons .comment-button { width: 150px; position: absolute; height: 35px; }
  .social-follow-buttons .comment-button svg { padding-right: 8px; }
}
.article-header { padding: 0px 10px 48px; max-width: 920px; margin: 0px auto; }
.article-header .story-title { font-family: neue-haas-unica,sans-serif; font-weight: 800; font-size: 22px; line-height: 1.18; color: rgb(0, 0, 0); margin-top: 0px; margin-bottom: 15px; padding-bottom: 0px; overflow-wrap: break-word; }
.article-header .info-row { border-top: 1px solid rgb(206, 206, 206); padding-top: 15px; width: 100%; min-height: 40px; display: flex; justify-content: space-between; }
.article-header .info-row__datetime { font-family: neue-haas-unica,sans-serif; font-weight: 400; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; }
.article-header .info-row__credits { flex: 1 1 0%; min-width: 0px; margin-right: 15px; }
.article-header .social-follow-buttons { margin-top: 26px; }
.article-header .social-follow-buttons .share-this { display: none; }
@media only screen and (min-width: 360px) {
  .article-header { padding-left: 15px; padding-right: 15px; }
}
@media only screen and (min-width: 520px) {
  .article-header { padding-top: 5px; padding-bottom: 38px; }
  .article-header .story-title { font-size: 48px; margin-bottom: 35px; line-height: 1.04; }
  .article-header .info-row { padding-top: 20px; }
  .article-header .info-row__datetime { font-size: 12px; }
  .article-header .social-follow-buttons { margin-top: 41px; }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 520px) {
}
@media only screen and (min-width: 640px) {
}
@media only screen and (min-width: 900px) {
  .aside-panel { display: block; box-sizing: border-box; right: 0px; top: 0px; bottom: 0px; width: 340px; z-index: 3; margin-left: auto; margin-right: auto; }
}
@media only screen and (min-width: 1280px) {
  .aside-panel { width: 360px; }
}
.floating-track { height: 100%; }
.sticky-aside-panel { position: sticky; top: 50px; padding-bottom: 20px; display: grid; grid-row-gap: 1rem; justify-content: center; justify-items: center; }
@media only screen and (min-width: 1280px) {
}
@media only screen and (min-width: 1400px) {
  .article-body .sticky-aside-panel { justify-content: right; }
}
@media only screen and (min-width: 520px) {
}
@media only screen and (min-width: 520px) {
}
@media only screen and (min-width: 1024px) {
}
.article__copy, .transcript { position: relative; font-family: "expo-serif-pro",Georgia,Times,Times New Roman,serif; font-weight: 400; font-size: 16px; line-height: 1.75; color: rgb(0, 0, 0); overflow-wrap: break-word; padding: 23px 10px 0px; max-width: 680px; margin: 0px auto; }
.article__copy p, .article__copy ul, .transcript p, .transcript ul { margin-bottom: 15px; }
.article__copy p:last-child, .transcript p:last-child { margin-bottom: 0px; }
.article__copy b, .article__copy strong, .transcript b, .transcript strong { font-family: inherit; font-weight: 900; }
.article-body { padding-top: 15px; }
.article-body .aside-panel { display: none; }
.article-body h2, .article-body h2 > a { font-family: neue-haas-unica,sans-serif; font-weight: 800; color: rgb(0, 0, 0); line-height: 1em; margin-top: 20px; margin-bottom: 20px; font-size: 22px; }
.article-body h2:first-child, .article-body h2 > a:first-child { margin-top: 0px; }
.article-body h2 em, .article-body h2 > a em { margin-right: 4px; }
.lead-carousel { max-width: 920px; margin: 0px auto; }
div[style] { max-width: 100%; }
.article-bottom { margin: 0px auto; max-width: 680px; padding: 10px 15px 20px; }
@media only screen and (min-width: 520px) {
}
.article-page .base__header-ad { min-height: 50px; }
@media only screen and (min-width: 360px) {
  .article__copy, .transcript { padding: 0px 30px; }
}
@media only screen and (min-width: 520px) {
  .article-page .sticky-aside-panel { padding-top: 38px; padding-bottom: 20vh; }
  .article-body h2 { font-size: 2.1875rem; }
  .article-body h2 em { margin-right: 6px; }
  .article__copy p, .article__copy ul { margin-bottom: 25px; }
  .article__copy b, .article__copy strong { font-weight: 900; }
  .article-bottom { padding-bottom: 40px; }
}
@media only screen and (min-width: 768px) {
  .article-page .base__header-ad { min-height: 90px; }
}
@media only screen and (min-width: 1024px) {
  .standard-story .article-body { padding-top: 25px; display: flex; justify-content: flex-end; }
  .standard-story .article-body .aside-panel { display: inline-block; margin: 0px; }
}
@media only screen and (min-width: 1280px) {
  .article-bottom { padding-left: 0px; padding-right: 0px; }
}
@media only screen and (min-width: 1400px) {
  .article__copy, .transcript { padding: 23px 0px 0px; }
}
@media only screen and (min-width: 768px) {
}
.article-body .article__copy { padding-top: 0px; }
@media only screen and (min-width: 1024px) {
  .standard-story .article-body { display: flex; justify-content: flex-end; }
  .standard-story .article-body-main { padding-top: 15px; }
  .standard-story .aside-panel { display: inline-block; margin: 0px; }
  .standard-story .article-list { margin: 0px; }
}
.article-page--list .article-body { padding-top: 0px; }
.article-list { position: relative; }
.list-slide { margin-bottom: 15px; }
.list-slide__title { font-family: neue-haas-unica,sans-serif; font-weight: 800; font-size: 22px; color: rgb(0, 0, 0); line-height: 1.14; max-width: 680px; margin: 0px auto 20px; padding: 0px 10px; }
.list-slide .lead-carousel { max-width: 1400px; }
.list-slide--not-first { margin-bottom: 40px; }
.list-slide--not-first .lead-carousel { max-width: 680px; margin: 0px auto; }
@media only screen and (min-width: 360px) {
  .list-slide__title { padding: 0px 15px; }
}
@media only screen and (min-width: 520px) {
  .list-slide { margin-bottom: 25px; }
  .list-slide__title { font-size: 32px; }
}
@media only screen and (min-width: 1024px) {
  .list-slide__title { padding: 0px; }
}
@media only screen and (min-width: 680px) {
  .list-slide--not-first .lead-carousel__caption { padding-left: 0px; }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}
@media only screen and (min-width: 520px) {
}
@media only screen and (min-width: 1280px) {
}
@media (min-width: 375px) {
}
@media (min-width: 520px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media only screen and (min-width: 1400px) {
}
@media only screen and (min-width: 1024px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media only screen and (min-width: 375px) {
}
@media only screen and (min-width: 520px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}
@media only screen and (min-width: 1400px) {
}
@media only screen and (min-width: 520px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1400px) {
}
.sidebar-button-div { display: flex; flex-direction: column; margin: 65px 30px 0px; }
.sidebar-button-div h3 { font-family: neue-haas-unica,sans-serif; font-size: 20px; font-weight: 900; line-height: 0.75; margin-bottom: 20px; }
.sidebar-button-div .comment-info { background-color: rgb(243, 243, 243); padding: 20px; display: flex; flex-direction: column; }
.sidebar-button-div .comment-info-div { display: flex; flex-direction: row; margin-bottom: 20px; }
.sidebar-button-div .comment-info-div .complex-square { display: flex; justify-content: center; align-items: center; flex-grow: 1; min-width: 50px; height: 50px; background-color: rgb(0, 0, 0); margin-right: 20px; }
.sidebar-button-div .comment-info-div .comment-text { display: flex; flex-direction: column; flex-shrink: 1; }
.sidebar-button-div .comment-info-div .comment-text p { font-family: neue-haas-unica,sans-serif; font-size: 12px; line-height: 1.33; margin: 7px 0px 0px; }
.sidebar-button-div .comment-info .comment-info-button button { border: 0px none; height: 35px; width: 100%; color: rgb(255, 255, 255); background-color: rgb(2, 125, 175); font-family: neue-haas-unica,sans-serif; font-size: 12px; font-weight: 900; line-height: 0.83; border-radius: 3px; justify-content: center; align-items: center; display: flex; }
.sidebar-button-div .comment-info .comment-info-button button svg { padding-right: 8px; }
.sidebar-button-div .comment-info .comment-info-button button svg .st0 { display: none; }
.sidebar-button-div .comment-info .comment-info-button button svg .st1 { display: inline; }
.sidebar-button-div .comment-info .comment-info-button button:hover { cursor: pointer; background-color: rgb(255, 255, 255); color: rgb(2, 125, 175); border: 2px solid rgb(2, 125, 175); }
.sidebar-button-div .comment-info .comment-info-button button:hover svg { fill: rgb(2, 125, 175); }
.openweb-container { margin: 0px auto; max-width: 680px; display: flex; flex-direction: column; }
@media only screen and (min-width: 1280px) {
}
@media only screen and (min-width: 1024px) {
}
.article-tags__tag { font-family: neue-haas-unica,sans-serif; font-weight: 800; font-size: 12px; line-height: 1.83; text-transform: uppercase; color: rgb(0, 0, 0); margin: 0.35rem 0px; padding-right: 1rem; min-width: 40px; text-align: center; }
.article-tags__tag:hover { text-decoration: underline; }
.article-tags { max-width: 680px; margin: 0px auto 70px; padding: 0px 15px; }
.article-tags__tags { display: flex; flex-wrap: wrap; border-top: 1px solid rgb(206, 206, 206); padding-top: 30px; }
@media only screen and (min-width: 520px) {
  .article-tags__tags { padding-top: 40px; }
}
@media only screen and (min-width: 520px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1024px) {
}
