/* Code tidied up by ScrapBook */
@media only screen and (min-width: 1280px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 520px) {
}
.c-spine { background-image: url("complex_edge-v3_lqcs5n.webp"); background-repeat: repeat-y; background-color: rgb(0, 0, 0); background-size: 40px auto; position: fixed; z-index: 2147483646; width: 10px; height: 100%; top: 0px; left: 0px; transition: width 0.2s ease 0s; filter: brightness(0.5); }
@media only screen and (min-width: 768px) {
  .c-spine { width: 20px; }
}
.site-menu { position: fixed; top: 0px; left: 0px; height: 100%; width: 100%; background-color: rgb(0, 0, 0); font-family: base-complex,sans-serif; letter-spacing: 0px; z-index: 2147483647; transition: opacity 0.3s ease 0.1s, transform 0.2s ease 0s; transform: translateZ(0px); opacity: 1; box-sizing: border-box; padding: 10px 0px 45px; }
.site-menu__menu { display: flex; flex-flow: column nowrap; width: 100%; overflow-x: hidden; overflow-y: auto; height: 100%; }
.site-menu__inner { margin-left: 15px; margin-right: 15px; }
.menu-content { width: 100%; max-width: 1400px; margin: 0px auto; box-sizing: border-box; }
.menu-content .menu-items__item { font-size: 1.125rem; font-family: neue-haas-unica,sans-serif; font-weight: 800; display: inline-block; position: relative; color: rgb(255, 255, 255); padding: 2px 0px; line-height: 1.2; text-transform: uppercase; transition: padding 0.2s ease 0s, font-size 0.2s ease 0s; }
.menu-content .menu-items__item:hover { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); padding: 2px 10px ! important; }
.menu-content__section { padding: 35px 0px; }
.menu-content__section ul li { flex-direction: row; display: flex; align-items: center; }
.menu-content__section ul li svg { margin-right: 5px; height: 14px; }
.menu-content__section.global_list ul li:last-of-type { margin-top: 32px; }
.menu-content__section-header { color: rgb(216, 216, 216); font-size: 10px; font-family: neue-haas-unica,sans-serif; font-weight: 400; text-transform: uppercase; margin-bottom: 10px; }
.menu-content__section:nth-child(-n+4) { border-bottom: 1px solid rgb(35, 35, 35); }
.menu-content__right { display: grid; grid-column-gap: 0px; grid-template-columns: 1.1fr 1.1fr; }
.menu-content__right .menu-content__section:nth-child(-n+4) { border-bottom: 1px solid rgb(35, 35, 35); }
.menu-content__left { display: grid; grid-column-gap: 0px; grid-template-columns: 1.1fr 1.1fr; }
.menu-content__left .menu-content__section:first-child .menu-content__section-header { display: none; }
.menu-content__left .menu-content__section { border-bottom: 1px solid rgb(35, 35, 35); }
.menu-content__wrap { display: grid; grid-column-gap: 0px; grid-template-columns: 1fr; }
.menu-header { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-areas: "close logo ."; align-items: center; justify-content: center; width: 100%; max-width: 1400px; margin: 5px auto 0px; box-sizing: border-box; position: relative; }
.menu-header__search-form { grid-area: form / form / form / form; display: none; width: 100%; margin-left: 1px; position: relative; }
.menu-header__search-form-input { background-color: transparent; padding: 10px 35px 10px 0px; flex-grow: 1; font-size: 1.25rem; border-width: medium medium 1px; border-style: none none solid; border-color: currentcolor currentcolor rgb(74, 74, 74); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(255, 255, 255); }
.menu-header__search-form-input::placeholder { color: rgb(255, 255, 255); opacity: 1; }
.menu-header__search-form-input:focus { border-bottom-color: rgb(255, 255, 255); }
.menu-header__search-form-button { border: medium none; background: transparent none repeat scroll 0% 0%; cursor: pointer; position: absolute; right: 0px; top: 10px; }
.menu-header__search-form-button svg { fill: rgb(255, 255, 255); transition: all 0.2s ease 0s; }
.menu-header__search-form-button:focus svg, .menu-header__search-form-button:hover svg { fill: rgb(102, 102, 102); }
.menu-header .logo { grid-area: logo / logo / logo / logo; justify-self: center; }
.menu-header .logo svg { width: 100px; height: auto; transition: all 0.2s ease 0s; margin-left: -4px; }
.menu-header .menu-close { grid-area: close / close / close / close; display: flex; align-items: center; justify-self: flex-start; padding: 6px; -moz-appearance: none; background-color: rgb(0, 0, 0); box-shadow: 1px 1px 0px 0px rgb(51, 51, 51); border: 0px none; cursor: pointer; }
.menu-header .menu-close svg { height: 13px; width: 13px; }
.menu-header.is-desktop .menu-close:hover { background-color: rgb(255, 255, 255); }
.menu-header.is-desktop .menu-close:hover svg #close-icon { fill: rgb(0, 0, 0); }
.menu-footer { display: grid; grid-template-areas: "links" "legal" "network"; width: 100%; font-size: 10px; }
.menu-footer__links { grid-area: links / links / links / links; display: flex; justify-content: flex-start; margin-bottom: 17px; padding-bottom: 20px; border-bottom: 1px solid rgb(35, 35, 35); }
.menu-footer__links .link__desktop { display: none; }
.menu-footer__links a { font-family: neue-haas-unica,sans-serif; font-weight: 500; color: rgb(155, 155, 155); padding-right: 15px; text-transform: uppercase; }
.menu-footer__links a:hover { color: rgb(255, 255, 255); }
.menu-footer__links a:last-of-type { padding-right: 0px; }
.menu-footer__links #ot-sdk-btn.ot-sdk-show-settings { border: 0px none; padding: 0px 15px 0px 0px; line-height: inherit; transition: none 0s ease 0s ; color: rgb(155, 155, 155); font-size: 10px; }
.menu-footer__links #ot-sdk-btn.ot-sdk-show-settings:hover { background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.menu-footer__network { grid-area: network / network / network / network; display: flex; align-items: flex-start; }
.menu-footer__network p { color: rgb(155, 155, 155); margin-top: 6px; margin-right: 10px; }
.menu-footer__network svg { width: 80px; }
.menu-footer__legal { grid-area: legal / legal / legal / legal; display: flex; flex-direction: column; color: rgb(155, 155, 155); line-height: 1.4; margin-bottom: 34px; max-width: 680px; }
.menu-footer__legal p:first-of-type { margin-bottom: 15px; }
.menu-footer__legal p:last-of-type { display: inline-block; vertical-align: top; margin-bottom: 5px; margin-right: 10px; }
.menu-closed .site-menu { transform: translate3d(-120%, 0px, 0px); opacity: 0; }
.menu-closed .is-desktop .site-menu { transform: translate3d(0px, -120%, 0px); }
@media only screen and (min-width: 768px) {
  .menu-header { grid-template-columns: 1fr 2fr 1fr; grid-template-areas: "logo form close"; justify-content: space-between; }
  .menu-header__search-form { display: flex; }
  .menu-header .logo { justify-self: flex-start; }
  .menu-header .menu-close { justify-self: flex-end; }
  .menu-content .menu-items__item { font-size: 1.625rem; }
  .menu-content__section-header { font-size: 14px; }
}
@media only screen and (min-width: 1024px) {
  .menu-content__section ul li svg { margin-right: 10px; height: 20px; }
  .menu-content__section.global_list ul li a { font-size: 20px; }
  .menu-content__right { display: grid; grid-column-gap: 0px; grid-template-columns: 1.1fr 1.1fr; }
  .menu-content__left { display: block; }
  .menu-content__left .menu-content__section:first-child .menu-content__section-header { display: block; }
  .menu-content .menu-items__item { font-size: 1.625rem; }
  .menu-footer { grid-template-columns: 1fr 1fr; grid-template-areas: "links links" "legal network"; margin-top: 50px; }
  .menu-footer, .menu-footer__links #ot-sdk-btn.ot-sdk-show-settings { font-size: 12px; }
  .menu-footer__links .link { display: none; }
  .menu-footer__links .link__desktop { display: block; }
  .menu-footer__network { place-self: baseline flex-end; }
  .menu-footer__network p { margin-top: unset; }
  .menu-footer__network svg { width: 100px; }
  .menu-header .logo svg { width: 127px; }
  .menu-header .menu-close { padding: 9px; }
  .menu-header .menu-close svg { height: 16px; width: 16px; }
  .site-menu__inner { margin-right: 35px; }
  .menu-content__wrap { grid-template-columns: 1.5fr 3fr; }
  .menu-content__left .menu-content__section { border-bottom: medium none ! important; }
}
@media only screen and (min-width: 1280px) {
  .menu-content__right { display: grid; grid-column-gap: 0px; grid-template-columns: 1.2fr 1.2fr 1.09fr; }
  .menu-content .menu-items__item { font-size: 1.875rem; }
  .menu-content .menu-content__section:nth-child(4) { border-bottom: medium none ! important; }
  .menu-content__wrap { grid-template-columns: 1.1fr 3.2fr; }
}
.splashy-search-icon__button { cursor: pointer; display: inline-block; }
.splashy-search-icon__button svg { fill: rgb(0, 0, 0); transition: all 0.2s ease 0s; display: block; }
.splashy-search-icon__button:focus svg, .splashy-search-icon__button:hover svg { opacity: 0.5; }
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
.social-buttons-compact .social-buttons-compact__social-icons { display: flex; }
.social-buttons-compact .social-buttons-compact__social-icons li { display: inline-block; height: 28px; }
.social-buttons-compact .social-buttons-compact__social-icons li a { display: inline-block; padding: 4px; }
.social-buttons-compact .social-buttons-compact__social-icons li a svg { display: block; transition: all 0.2s ease 0s; pointer-events: none; }
.social-buttons-compact .social-buttons-compact__social-icons li a svg.icon-facebook path:first-of-type, .social-buttons-compact .social-buttons-compact__social-icons li a svg.icon-tiktok path:first-of-type { transition: all 0.2s ease 0s; pointer-events: none; }
.social-buttons-compact .social-buttons-compact__social-icons li a:focus svg.icon-tiktok path:first-of-type, .social-buttons-compact .social-buttons-compact__social-icons li a:hover svg.icon-tiktok path:first-of-type { fill: rgb(37, 244, 238); stroke: rgb(37, 244, 238); }
.social-buttons-compact .social-buttons-compact__social-icons li a:focus svg.icon-facebook path:first-of-type, .social-buttons-compact .social-buttons-compact__social-icons li a:hover svg.icon-facebook path:first-of-type { fill: rgb(24, 119, 242); }
.social-buttons-compact .social-buttons-compact__social-icons li a:focus svg.icon-twitter, .social-buttons-compact .social-buttons-compact__social-icons li a:hover svg.icon-twitter { fill: rgb(69, 145, 194); }
.social-buttons-compact .social-buttons-compact__social-icons li a:focus svg.icon-instagram, .social-buttons-compact .social-buttons-compact__social-icons li a:hover svg.icon-instagram { fill: rgb(240, 0, 117); }
.social-buttons-compact .social-buttons-compact__social-icons li a:focus svg.icon-youtube, .social-buttons-compact .social-buttons-compact__social-icons li a:hover svg.icon-youtube { fill: rgb(217, 37, 42); }
.social-buttons-compact .social-buttons-compact__social-icons li a:focus svg.icon-snapchat, .social-buttons-compact .social-buttons-compact__social-icons li a:hover svg.icon-snapchat { fill: rgb(255, 252, 0); }
.social-buttons-compact .social-buttons-compact__social-icons li a:focus svg.icon-twitch, .social-buttons-compact .social-buttons-compact__social-icons li a:hover svg.icon-twitch { fill: rgb(100, 65, 164); }
.social-buttons-compact .social-buttons-compact__social-icons li + li { margin-left: 7px; }
.social-buttons-compact .social-buttons-compact__social-icons li:last-of-type a { padding-right: 0px; }
.header-secondary-nav, .header-secondary-nav-logo { display: flex; }
.header-secondary-nav__logo { display: inline-block; }
.header-secondary-nav__logo svg { display: block; width: 97px; height: 25px; }
.header-secondary-nav-list { display: none; }
.is-desktop .header-secondary-nav-logo .header-secondary-nav__logo svg { width: 127px; height: 33px; }
.is-desktop .header-secondary-nav-logo:hover .header-secondary-nav__logo { z-index: 1; }
.is-desktop .header-secondary-nav-logo:hover .header-secondary-nav__logo svg { padding: 15px; margin-left: -15px; background-color: rgb(0, 0, 0); fill: rgb(255, 255, 255); }
.is-desktop .header-secondary-nav-logo:hover ~ .header-secondary-nav-list-desktop { margin-left: -15px; }
@media screen and (min--moz-device-pixel-ratio: 0) {
}
@media only screen and (min-width: 1024px) {
  .header-secondary-nav-list { justify-content: center; flex: 1 1 0%; }
  .header-secondary-nav-list, .header-secondary-nav-list__links-shop { align-items: center; display: flex; }
  .header-secondary-nav-list__links a { font-family: neue-haas-unica,sans-serif; font-weight: 800; font-size: 0.9375rem; text-transform: uppercase; padding: 4px 7px; display: inline-block; color: rgb(0, 0, 0); white-space: nowrap; }
  .header-secondary-nav-list__links a:hover { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }
  .header-secondary-nav-list__links-on-page a { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }
  .header-secondary-nav-list__links + .header-secondary-nav-list__links { margin-left: 1px; }
}
@keyframes shop {
0% { transform: translateY(0px); }
17.86% { transform: translateY(0px); }
50% { transform: translateY(22px); opacity: 1; }
50.01% { transform: translateY(-22px); opacity: 0; }
67.86% { transform: translateY(-22px); opacity: 1; }
100% { transform: translateY(0px); }
}
@keyframes bag {
0% { transform: translateY(-22px); opacity: 1; }
17.86% { transform: translateY(-22px); }
50% { transform: translateY(0px); }
67.86% { transform: translateY(0px); }
99.99% { transform: translateY(22px); opacity: 1; }
100% { transform: translateY(-22px); opacity: 0; }
}
.header-container { display: block; }
.header-bar { max-width: 1400px; margin: 0px auto; background-color: rgb(255, 255, 255); height: 25px; padding: 15px; display: grid; grid-template-columns: 55px auto 55px; border-bottom: 1px solid rgb(255, 255, 255); }
.header-bar__center { place-self: center; }
.header-bar__right { justify-self: end; display: flex; align-items: center; }
.header-bar__right .social-buttons-compact { display: none; }
.header-bar__right-shop-icon { margin-left: 15px; display: inline-block; position: relative; overflow: hidden; }
.header-bar__right-shop-icon svg { display: block; }
.header-bar__right-shop-icon .shop-svg { animation-name: shop; animation-duration: 5.6s; animation-iteration-count: infinite; transition: transform 0s ease-out 0s; }
.header-bar__right-shop-icon .shop-bag-svg { position: absolute; left: 0px; top: 0px; transform: translateY(-22px); animation-name: bag; animation-duration: 5.6s; animation-iteration-count: infinite; transition: transform 0s ease-out 0s; }
.header-bar__menu { display: flex; align-items: center; cursor: pointer; border: 0px none; padding: 0px; background-color: transparent; justify-self: start; }
.header-bar__menu svg { fill: rgb(0, 0, 0); box-shadow: 1px 1px 0px 0px rgb(221, 221, 221); padding: 8px; transform: scale(0.78); position: absolute; }
.header-bar-container { position: sticky; top: 0px; display: block; width: 100%; height: auto; z-index: 2147483642; transition: top 0.2s ease 0s; background-color: rgb(255, 255, 255); }
.is-desktop .header-bar { height: 65px; padding: 10px 15px; }
.is-desktop .header-bar__menu:hover svg { fill: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }
@media only screen and (min-width: 768px) {
  .header-bar__menu svg { transform: none; position: relative; }
}
@media only screen and (min-width: 1024px) {
  .header-bar { grid-template-columns: 58px auto 20px; }
  .header-bar__right-shop-icon { display: none; }
  .header-bar__center { justify-self: start; width: 100%; }
  .header-bar__right .splashy-search-icon__button svg { width: 20px; height: 20px; }
}
@media only screen and (min-width: 1280px) {
  .header-bar { grid-template-columns: 58px auto 240px; }
  .header-bar__right .splashy-search-icon__button { margin-right: 10px; }
  .header-bar__right .social-buttons-compact { display: inline-block; }
}
@media only screen and (min-width: 1400px) {
  .header-bar__right .splashy-search-icon__button { margin-right: 31px; }
}
.static-root { padding-top: 0px; transition: padding-top 0.5s ease-out 0s; }
.static-root.is-desktop { margin: 0px 0px 0px 10px; }
@media only screen and (min-width: 768px) {
  .static-root.is-desktop { margin: 0px 0px 0px 20px; }
  .site-menu { padding-left: 35px; }
}
@media only screen and (min-width: 1024px) {
  .site-menu { padding-left: 45px; }
}
