/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Iconochive-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("Iconochive-Regular.eot") format("embedded-opentype"), url("Iconochive-Regular.woff") format("woff"), url("Iconochive-Regular.ttf") format("truetype"), url("Iconochive-Regular.svg") format("svg");
}
