/* Code tidied up by ScrapBook */
#snippet-box { background: rgb(245, 245, 245) none repeat scroll 0% 0%; border: 1px solid rgb(172, 172, 172); font-family: inherit; font-size: 13px; padding: 0px; margin: 0px 0px 15px; width: 100%; max-width: 600px; display: block; }
.snippet-title { display: block; position: relative; font-family: inherit; font-size: 14px; font-weight: 700; background: rgb(228, 228, 228) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(172, 172, 172); clear: both; padding: 0.5em 1em; width: 100%; }
.snippet-image { min-height: 190px; width: 200px; display: inline-block; vertical-align: top; }
.snippet-image img { margin: 10px auto; display: block; }
.aio-info { width: calc(100% - 200px); display: inline-block; vertical-align: top; }
.snippet-label-img { width: 40%; display: inline-block; text-align: right; font-size: 13px; font-weight: 700; margin: 0px; padding: 0.3em 0.5em; vertical-align: top; }
.snippet-data-img { width: 58%; display: inline-block; padding: 0.3em 0.5em; vertical-align: top; }
.snippet-clear { clear: both; }
@media (max-width: 768px) {
  .snippet-title { padding: 0.5em 0px 0.5em 4%; }
  .snippet-image { margin: 0px 0px 15px; width: 100%; }
  .aio-info { width: 100%; clear: both; }
}
