/* Code tidied up by ScrapBook */
.PCD_counter_b { overflow: hidden; }
.PCD_counter_b .WB_innerwrap { width: 100%; padding: 0px; }
.PCD_counter_b .userbox { padding: 13px 16px; border-bottom-width: 1px; border-bottom-style: solid; }
.PCD_counter_b .midbox { position: relative; overflow: hidden; }
.PCD_counter_b .pic_wrap, .PCD_counter_b .pic_box, .PCD_counter_b .pic_box .pic { width: 50px; height: 50px; }
.PCD_counter_b .pic_wrap { position: relative; display: inline-block; float: left; margin-right: 10px; }
.PCD_counter_b .pic_box { border-radius: 50%; text-align: center; display: block; overflow: hidden; white-space: nowrap; }
.PCD_counter_b .pic { vertical-align: middle; }
.PCD_counter_b .info_wrap { display: inline-block; float: left; height: 50px; overflow: hidden; }
.PCD_counter_b .info_wrap .text { line-height: 16px; }
.PCD_counter_b .info_wrap .title { margin-top: 1px; font-size: 14px; }
.PCD_counter_b .midbox .opt { position: absolute; right: 0px; top: 11px; }
@font-face {
  font-family: "unlogininhome";
  font-style: normal;
  font-weight: normal;
  src: url("unlogficon.eot") format("embedded-opentype"), url("unlogficon.svg") format("svg"), url("unlogficon.woff") format("woff"), url("unlogficon.ttf") format("truetype");
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media not all, not all {
}
@media �screen,screen	 {
}
.WB_row_line { margin: 0px 0px 0px -1px; }
.WB_row_line li { float: left; height: 38px; }
.WB_row_r3 li { width: 33.3%; }
.WB_row_line a { display: block; margin: 0px 0px 0px 1px; padding: 1px 0px; text-align: center; }
.WB_row_line .pos { display: block; margin-left: -1px; }
.WB_row_line .line { display: block; height: 22px; margin: 7px 0px; border-left-width: 1px; border-left-style: solid; line-height: 22px; }
.WB_feed .WB_cardwrap { margin-bottom: 10px; }
.WB_feed .W_tips { margin-bottom: 10px; }
.WB_face { width: 50px; }
.WB_text { padding: 1px 0px 3px; overflow: hidden; line-height: 23px; overflow-wrap: break-word; }
.WB_text img { vertical-align: text-bottom; }
@media �screen,screen	 {
}
.WB_row_line .line .icon_praised_b, .WB_row_line .line .icon_praised_bc { margin: 4px 0px 0px; vertical-align: top; }
.WB_row_line .line span em {  }
.WB_row_line .line span em, .WB_row_line .line span i { margin-left: 2px; margin-right: 3px; }
.WB_feed_handle .WB_handle { overflow: hidden; }
.WB_feed_handle .WB_row_line { border-top-width: 1px; border-top-style: solid; }
.WB_feed_handle .WB_row_line .curr { position: relative; font-weight: bold; }
.WB_feed_handle .WB_row_line .arrow { display: none; position: absolute; left: 50%; bottom: 0px; margin: 0px 0px 0px -7px; }
.WB_feed_handle .WB_row_line .curr .arrow { display: inline-block; }
.WB_feed_handle .WB_row_line .W_arrow_bor { position: absolute; top: -14px; left: 0px; }
.WB_feed_handle .WB_row_line .W_arrow_bor em { margin: 1px 0px 0px -14px; }
.WB_func .WB_handle ul { margin-right: -10px; overflow: hidden; }
.WB_func .WB_handle li { float: left; margin: 0px -1px 0px 0px; }
.WB_func .WB_handle li .line { display: block; margin: 2px 0px; padding: 0px 10px; border-right-width: 1px; border-right-style: solid; line-height: 12px; }
.WB_func .WB_handle li.hover { visibility: hidden; }
.WB_func .WB_handle .arrow { visibility: hidden; position: absolute; margin: 15px 0px 0px -5px; }
.WB_func .WB_handle .W_arrow_bor { position: absolute; margin: -20px 0px 0px 20px; }
.WB_func .WB_from { line-height: 16px; }
.WB_func .WB_handle li .line em { margin-left: 4px; }
.WB_func .WB_handle li .line span em { margin-left: 15px; }
.WB_func .WB_handle li .line {  }
.WB_func .WB_handle li .line span em.W_ficon { margin-left: 0px; margin-right: -10px; font-size: 15px; vertical-align: top; }
.tab_feed_a { overflow: hidden; line-height: 20px; }
.tab_feed_a .tab { margin: 0px 0px 0px -10px; }
.tab_feed_a .tab ul { overflow: hidden; }
.tab_feed_a .tab li { float: left; margin: 0px 0px 0px -1px; }
.tab_feed_a .tab .line { display: block; margin: 5px 0px; padding: 0px 10px; border-left-width: 1px; border-left-style: solid; line-height: 10px; }
.tab_feed_a li .curr { font-weight: bold; }
.WB_feed .W_pages { padding: 4px 0px; }
@-moz-document url-prefix("") {
  .artwork_box .tag_showpicL .codetag, .artwork_box .tag_showpicR .codetag { line-height: 19px; }
  .artwork_box .tag_showpicL .inner .txt, .artwork_box .tag_showpicR .inner .txt { font-family: Tahoma; line-height: 19px; }
}
@media �screen,screen	 {
}
@media not all {
}
@media not all {
}
@media not all {
}
@media not all, not all {
}
.WB_publish .p_input { margin: 0px 0px 10px; }
.WB_publish .p_input .W_input { width: 98%; padding-left: 6px; padding-right: 2px; }
.WB_publish .p_opt .opt .ico { float: left; margin: -4px 5px 0px 0px; }
.WB_publish .p_opt .opt .ico a:hover { text-decoration: none; }
.WB_publish .p_opt .opt .ico .W_ficon { cursor: pointer; }
.WB_publish .p_opt .opt ul.ipt { float: left; margin: 1px 0px 0px; padding: 0px 0px 4px; }
.WB_publish .p_opt .opt ul.ipt li { margin: 0px 0px 5px; }
.WB_publish .p_opt .btn { padding: 0px 0px 10px; text-align: left; }
.WB_publish .p_opt .btn .W_btn_a { vertical-align: top; }
.WB_feed_repeat { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; }
.WB_feed_repeat .WB_repeat { margin: -1px 0px 0px; padding: 16px 0px 6px; border-top-width: 1px; border-top-style: solid; }
.WB_feed_repeat .W_tips { margin: 0px 16px 10px; }
.WB_feed_repeat .list_ul .W_tips { margin: 10px 0px; }
.WB_feed_repeat .WB_face, .WB_feed_repeat .WB_face img { width: 30px; height: 30px; }
.WB_feed_repeat .WB_feed_publish { padding: 0px 16px 0px 20px; }
.WB_feed_repeat .WB_publish { margin: 0px 0px 0px 50px; }
.WB_feed_repeat .repeat_list { padding: 0px 16px 0px 70px; overflow: hidden; }
.WB_feed_repeat .repeat_list .tab_feed_a { margin: 6px 0px 4px; padding: 12px 0px 0px; border-top-width: 1px; border-top-style: solid; }
.WB_feed_repeat .repeat_list .list_box { margin: -4px 0px 0px; }
.WB_feed_repeat .repeat_list .list_li { margin: 0px 0px -1px; padding: 5px 0px 7px; border-bottom-width: 1px; border-bottom-style: solid; }
.WB_feed_repeat .repeat_list .list_li:hover .WB_handle li.hover { visibility: visible; }
.WB_feed_repeat .repeat_list .WB_face { padding: 6px 0px 0px; }
.WB_feed_repeat .repeat_list .WB_text { padding: 0px 0px 2px; }
.WB_feed_repeat .list_con { margin: 0px 0px 0px 40px; }
.WB_feed_repeat .WB_minitab { margin: 0px 16px 10px; text-align: left; }
.WB_feed_repeat .WB_minitab .minitb_lk { text-align: center; }
.WB_feed_v3 .WB_face { position: relative; }
.WB_feed_v3 .WB_text { margin-bottom: 2px; padding-bottom: 0px; }
.WB_feed_v3 .WB_text img { vertical-align: -6px; }
.WB_feed_v3 .WB_text img.W_img_face { vertical-align: -4px; }
.WB_feed_v3 .WB_feed_repeat .repeat_list .WB_text { margin-bottom: 0px; }
.WB_feed_v3 .WB_from { margin-bottom: 2px; }
.WB_feed_v3 .WB_feed_repeat .list_con .WB_from { margin-bottom: 0px; }
.WB_feed_v3 .WB_expand_media_box { margin: 0px -20px 0px -80px; }
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
.WB_feed_v3 .WB_feed_repeat .W_tips { margin: 0px 20px 10px; }
.WB_feed_v3 .WB_feed_repeat .list_ul .W_tips { margin: 10px 0px; }
.WB_feed_v3 .WB_feed_repeat .WB_feed_publish { padding-left: 20px; padding-right: 20px; }
.WB_feed_v3 .WB_feed_repeat .WB_publish { margin-left: 0px; }
.WB_feed_v3 .WB_feed_repeat .repeat_list { padding: 0px 20px; overflow: hidden; }
.WB_feed_v3 .WB_feed_repeat .repeat_list .list_li:hover .WB_handle li.hover { visibility: hidden; }
.WB_feed_v3 .WB_feed_repeat .repeat_list .WB_func:hover .WB_handle li.hover { visibility: visible; }
.WB_feed_v3 .WB_feed_repeat .WB_minitab { margin-left: 20px; margin-right: 20px; }
.WB_feed_v3 .WB_feed_repeat .repeat_list .WB_cardpage { margin: 0px -20px -6px; }
.WB_feed_v3 .WB_feed_repeat .repeat_list .WB_face { margin-left: 0px; }
.WB_feed_v3 .WB_feed_repeat .repeat_list .WB_expand_media_box { margin: 0px; }
@media �screen,screen	 {
}
@keyframes ani_dash {
0% { stroke-dashoffset: 120; }
100% { stroke-dashoffset: 30; }
}
@keyframes ani_dash {
0% { stroke-dashoffset: 120; }
100% { stroke-dashoffset: 30; }
}
@keyframes ani_loading {
0% { transform: rotate(-90deg); }
100% { transform: rotate(270deg); }
}
@keyframes ani_loading {
0% { transform: rotate(-90deg); }
100% { transform: rotate(270deg); }
}
.WB_feed_v3 .WB_func .WB_handle ul { margin-right: -9px; overflow: visible; }
.WB_feed_v3 .WB_func .WB_handle li:last-child .line { border-right-width: 0px; }
.WB_feed_v3 .WB_func .ficon_praised { display: inline-block; width: 15px; height: 12px; }
.WB_feed_v3 .WB_func .WB_handle ul {  }
@media �screen,screen	 {
}
@media �screen,screen	 {
}
body.B_artical { font-family: Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif; }
.B_artical .WB_frame, .B_artical .WB_frame #plc_main, .B_artical .WB_frame_a { width: 1000px; padding-top: 0px; }
.B_artical .WB_frame { padding-top: 10px; background: transparent none repeat scroll 0% 0%; }
.B_artical .WB_frame_a { margin-right: 0px; }
.WB_artical { width: 700px; padding: 0px 150px 1px; }
.WB_artical .main_toppic { position: relative; width: 1000px; height: 400px; margin: 0px -150px -25px; border-top-left-radius: 2px; border-top-right-radius: 2px; overflow: hidden; vertical-align: middle; text-align: center; }
.WB_artical .main_toppic img { min-width: auto; height: auto; width: 1000px; min-height: 400px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
@media not all {
  .WB_artical .main_toppic img { position: static; top: auto; left: auto; }
}
@media not all, not all {
}
.WB_artical .main_editor { padding-top: 95px; }
.WB_artical .main_editor .title { margin: 0px 0px 12px; font-size: 30px; overflow-wrap: break-word; color: rgb(0, 0, 0); }
.WB_artical .main_editor .authorinfo { margin: 0px 0px 40px; font-size: 12px; line-height: 30px; }
.WB_artical .main_editor .authorinfo span { display: inline-block; vertical-align: top; }
.WB_artical .main_editor .authorinfo .author1 { max-width: 180px; }
.WB_artical .main_editor .authorinfo .author1 img { width: 30px; height: 30px; margin: 0px 10px 0px 0px; vertical-align: middle; }
.WB_artical .main_editor .authorinfo .author1 a { display: inline-block; max-width: 140px; vertical-align: middle; }
.WB_artical .main_editor .authorinfo .author1 a .W_autocut { display: inline-block; max-width: 110px; vertical-align: middle; }
.WB_artical .main_editor .authorinfo .author1 a .W_icon { vertical-align: middle; }
.WB_artical .main_editor .authorinfo .W_vline { margin: 0px 10px; }
.WB_artical .main_editor .authorinfo .del { position: relative; }
.WB_artical .WB_editor_iframe, .WB_artical .WB_editor_iframe_new, .WB_artical .WB_editor_iframe_word, .WB_artical .WB_editor_iframe_v3 { width: 700px; margin: 0px 0px 40px; overflow: hidden; }
.WB_artical .WB_editor_iframe .picinfo { min-width: 0px; margin-top: 7px; padding-bottom: 0px; border-bottom: medium none; }
.WB_artical .WB_cardwrap { box-shadow: none; }
@media not all {
}
.WB_artical .PCD_counter_b { margin: 60px 0px 40px; background: rgb(242, 242, 245) none repeat scroll 0% 0%; font-size: 14px; }
.WB_artical .PCD_counter_b .userbox { padding: 20px; border-bottom: medium none; }
.WB_artical .PCD_counter_b .info_wrap { width: 522px; height: 40px; padding: 5px 0px 0px; }
.WB_artical .PCD_counter_b .info_wrap .title { margin-bottom: 4px; font-size: 14px; }
.WB_artical .PCD_counter_b .info_wrap .text { width: 100%; height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; overflow-wrap: normal; line-height: 20px; }
.artical_add_box.S_bg2 { background: transparent none repeat scroll 0% 0%; }
.artical_add_box .btn_line { position: relative; margin: -190px 0px -30px; padding: 150px 0px 0px; }
.artical_add_box .btn_line::before { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%) repeat scroll 0% 0%; }
.artical_add_box .btn_line .inner { padding: 30px 0px 0px; }
.artical_add_box .btn_line a { display: inline-block; height: 34px; margin: 0px 0px 10px; padding: 0px 40px; border: 1px solid rgb(217, 217, 217); border-radius: 17px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); line-height: 34px; }
.artical_add_box .btn_line a:hover { border-color: rgb(204, 204, 204); }
.artical_add_box .btn_line .ficon_arrow_down { font-size: 20px; vertical-align: -3px; }
.artical_add_box .btn_line .tips { font-size: 12px; font-weight: normal; color: rgb(128, 128, 128); }
@media not all {
}
.B_artical .W_gotop { width: 50px; height: 30px; padding: 10px 0px; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; opacity: 1; }
.B_artical .W_gotop em { line-height: 30px; color: rgb(204, 204, 204); }
.B_artical .W_gotop:hover { background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; opacity: 1; }
.B_artical .W_gotop .W_ficon:hover { color: rgb(204, 204, 204); }
.B_artical .W_gotop_v2, .B_artical .W_gotop_v2:hover { bottom: 100px; height: auto; padding: 0px; background: transparent none repeat scroll 0% 0% !important; }
.B_artical .W_gotop_v2 .S_ficon_bg { display: block; width: 50px; height: 30px; margin: 0px 0px 2px; padding: 10px 0px; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; line-height: 30px; }
.B_artical .W_gotop_v2 .S_ficon_bg:hover { background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; }
@media not all {
}
.WB_editor_iframe { background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 16px; line-height: 1.65; overflow-wrap: break-word; }
.WB_editor_iframe p, .WB_editor_iframe div { margin: 0px 0px 16px; }
.WB_editor_iframe h1, .WB_editor_iframe h2 { margin: 0px 0px 16px; }
.WB_editor_iframe h1 { font-size: 26px; }
.WB_editor_iframe img { display: block; max-width: 100%; margin: 0px auto; }
.WB_editor_iframe .picinfo, .WB_editor_iframe .card-img figcaption { display: inline-block; position: relative; min-width: 20%; margin: 8px 0px 0px; padding: 0px 0px 5px 14px; border-bottom: 1px solid rgb(230, 230, 230); font-size: 12px; line-height: 20px; color: rgb(128, 128, 128); word-break: break-all; }
.WB_editor_iframe .picinfo::before, .WB_editor_iframe .card-img figcaption::before { content: "."; display: inline-block; position: absolute; top: 3px; left: 0px; width: 4px; height: 12px; background: rgb(235, 115, 80) none repeat scroll 0% 0%; overflow: hidden; }
.WB_editor_iframe .picbox, .WB_editor_iframe .card-img { text-align: center; }
.WB_editor_iframe .picbox .picinfo, .WB_editor_iframe .card-img figcaption { max-width: 686px; text-align: left; }
@media not all, not all {
}
.WB_editor_iframe p::before, .WB_editor_iframe div::before, .WB_editor_iframe h1::before, .WB_editor_iframe h2::before, .WB_editor_iframe blockquote::before, .WB_editor_iframe li::before { content: "​"; }
.WB_editor_iframe .DCI_v2, .WB_editor_iframe .DCI { margin: 30px 0px 50px; text-align: right; }
@media not all, not all {
}
@media not all, not all {
}
@media not all, not all {
}
.layer_emotion .emotion_list { width: 200px; height: 30px; padding: 10px 0px 10px 10px; overflow: hidden; }
@-moz-document url-prefix("") {
  .layer_add_tag .tag_showpicL .codetag, .layer_add_tag .tag_showpicR .codetag { line-height: 19px; }
  .layer_add_tag .tag_showpicL .inner .txt, .layer_add_tag .tag_showpicR .inner .txt { font-family: Tahoma; line-height: 19px; }
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
