/* Code tidied up by ScrapBook */
@font-face {
  font-family: "siq_icomoon";
  font-style: normal;
  font-weight: 400;
  src: url("SIQ_icomoon.eot") format("embedded-opentype"), url("SIQ_icomoon.ttf") format("truetype"), url("SIQ_icomoon.woff") format("woff"), url("SIQ_icomoon.svg") format("svg");
}
