/* Code tidied up by ScrapBook */
.opt a { padding-left: 10px; }
#comment_ul dl { box-shadow: 1px 1px 2px rgb(102, 102, 102); padding: 0px; border: 1px solid rgb(153, 153, 153); margin: 20px 4px; border-radius: 0px 0px 4px 4px; background-color: rgb(253, 253, 242); }
#comment_ul dt { background-color: rgb(238, 238, 238); color: rgb(153, 153, 153) ! important; margin: 0px; padding: 4px 6px; border-bottom: 1px solid rgb(255, 255, 255); }
#comment_ul dt.s1 { background-color: rgb(255, 235, 59); }
#comment_ul dt.mbm a { color: rgb(96, 125, 140); }
#comment_ul dd { margin: 4px 8px; }
.vw {  }
.vw .h { padding: 15px; background-color: rgb(255, 255, 255); border-radius: 4px; border-bottom: 1px solid rgb(205, 205, 205); border-right: 1px solid rgb(205, 205, 205); }
.vw .ph { padding: 15px 0px 10px; color: rgb(0, 0, 0); font-size: 32px; text-shadow: 2px 2px 4px rgb(255, 255, 255), -2px 2px 4px rgb(255, 255, 255), 2px -2px 4px rgb(255, 255, 255), -2px -2px 4px rgb(255, 255, 255); }
.vw .d { margin: 10px 0px; min-height: 100px; font-size: 16px; line-height: 2em; color: rgb(0, 0, 0); }
.vw .d p i, .vw .d p em, .vw .d ul i, .vw .d ul em { color: rgb(66, 150, 42); font-style: normal; }
.vw .d a { color: rgb(247, 110, 110); text-decoration: none; padding: 0px 4px 2px; border-bottom: 1px solid rgb(238, 238, 238); }
.vw .d a:hover { border-bottom: 2px solid rgb(153, 153, 153); }
.vw .d img { border: medium none; }
.vw .d p { line-height: 2em; margin: 1.5em 0px; }
.vw .d pre {  }
.vw .d code {  }
#header_info, #footer_info {  }
#article_content { vertical-align: top; min-height: 400px; background-color: rgb(255, 255, 255); border-radius: 4px; padding: 15px; border-bottom: 1px solid rgb(205, 205, 205); border-right: 1px solid rgb(205, 205, 205); box-shadow: 1px 1px 2px rgb(102, 102, 102); }
.vw .d ol, .vw .d ul { margin: 1em 1em 1em 2em; }
.vw .d ul li { list-style-type: disc; line-height: 2em; }
.vw .o { margin-top: 15px; padding-top: 5px; border-top: 1px solid rgb(205, 205, 205); text-align: right; }
#nv_portal .vw .h, #nv_portal .vw .s, #nv_portal .vw .d, #nv_portal .vw .b, #nv_portal .vw .o, #nv_portal .vw .pren, #nv_forum .vw .h, #nv_forum .vw .s, #nv_forum .vw .d { margin-right: 15px; }
#nv_portal .vw .h { margin-bottom: 5px; box-shadow: 1px 1px 2px rgb(102, 102, 102); border: medium none; }
#nv_portal .vw .pren em { display: block; width: 100%; height: 22px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
