/* Code tidied up by ScrapBook */
@font-face {
  font-family: "krvdficon";
  font-style: normal;
  font-weight: normal;
  src: url("krvdficon.eot") format("embedded-opentype"), url("krvdficon.woff") format("woff"), url("krvdficon.ttf") format("truetype"), url("krvdficon.svg") format("svg");
}
@media �screen {
}
#js_krstyle_css_module_krcom_V_h5_video { height: 42px; }
